<footer class="--footer-main">
    <section class="--footer-top">
        <div class="--wrap">
            <ul class="--footer-body">
                <li class="--footer-column">
                    <h6 style="color:#e763fa" class="--footer-heading">DASH</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/products/dash/" target="_self">Overview</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://www.dashdaq.io/" target="_self">Dash DAQ</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/dash/pricing/" target="_self">Dash Deployment Server</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#636efa" class="--footer-heading">COMPANY</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/company/careers/" target="_self">Careers</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plotly.typeform.com/to/r4OilH" target="_blank">Customer Contact</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://www.instagram.com/plotly/?hl=en" target="_blank">#plotlylife</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://twitter.com/plotlygraphs" target="_blank">Twitter</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://github.com/plotly" target="_blank">GitHub</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#00cc96" class="--footer-heading">RESOURCES</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://support.plot.ly/" target="_self">Developer Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://community.plot.ly/" target="_self">Community Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="http://help.plot.ly/" target="_self">Documentation</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#EF553B" class="--footer-heading">GRAPHING LIBRARIES</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/dash/" target="_self">Dash</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/plotly-js-scientific-d3-charting-library/" target="_self">Plotly.js</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-python-and-pandas-charts/" target="_self">Plotly.py</a>
                        </li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-r-and-shiny-charts/" target="_self">Plotly.R</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#19d3f3" class="--footer-heading">EMBEDDED BI/OEM</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/online-chart-maker/" target="_self">Chart Studio</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/dashboards/" target="_self">Dashboards</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#119dff" class="--footer-heading">JOIN THE DASH CLUB</h6>&#x9;&#x9;&#x9;
                    <ul>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><form action="https://plot.us12.list-manage.com/subscribe/post" method="POST" target="_blank" noValidate>
                            <input type="hidden" name="u" value="28d7f8f0685d044fb51f0d4ee">
                            <input type="hidden" name="id" value="0c1cb734d7">

                            <label htmlFor="MERGE0">
                              <p class="mailchimp-footer-text"> Dash Club is a no-fluff, twice-a-month email with links and notes on the latest Dash developments and community happenings.</p>
                              <input
                                type="email"
                                name="EMAIL"
                                id="MERGE0"
                                placeholder="Your Email Address"
                                autoCapitalize="off"
                                autoCorrect="off"
                                class="mc-input">
                          </label>
                          <input type="submit" value="Subscribe" name="subscribe" class="mc-embedded-subscribe">
                        </form></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="--footer-meta">
        <div class="--wrap">
            <div class="left">
                {% include copyright.html %}
            </div>
            <div class="right">
                <article class="--tos"><a href="https://plot.ly/terms-of-service/" target="_blank">Terms of Service</a>
                </article>
                <article class="--privacy"><a href="https://plot.ly/privacy/" target="_blank">Privacy Policy</a>
                </article>
            </div>
        </div>
    </section>
</footer>
