<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left"><a href="https://plot.ly/" target="_blank" class="-identity">
            <img  src="https://prismic-io.s3.amazonaws.com/plotly%2F6ea9b995-cdd8-49cb-b058-38bd44c1982d_plotly-logo-01-stripe%402x.png"/></a>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a href="https://go.plot.ly/live_demo" data-mode="1" target="_blank" class="typeform-share button --enterprise-quaternary">
                        DEMO
                        DASH</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
