<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left"><a href="https://plot.ly/" target="_blank" class="-identity">
            <img src="../images/logo-light.svg"></a>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a href="https://plot.ly/get-demo/" data-mode="1" target="_blank" class="db-btn">
                        <span>DEMO
                            DASH</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
