---
title: Plotly Help
---

<!DOCTYPE html>
<html>
    <head>

	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    	
    	<!-- Stytlesheets -->
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">
  
	 <!-- Icon -->
	 <link rel="shortcut icon" href="/images/plotly-ico.png" type="image/x-icon" />
	 
         <!-- META TAGS -->
         {% include seo.html %}
  	
  	
	</head>


  {% include new_header.html %}

  <body>

        <div class="bigcontainer" >
        	<div class="container tuthome-padding-b">
	        	<h1 class="centered">{{page.title}}</h1>
	        	<h2 class="centered">{{page.subtitle}}</h2>
		</div>
		<div class="row"> 

			<div class="four columns categories"  onmouseover="movingInImgOp(thumimgA, thumtextA)" onmouseout="movingOutImgOp(thumimgA, thumtextA)">  
				<a href="/tutorials" class="no_underline">
					<div id="thumimgA">
						<img class="hoverlight" src="http://i.imgur.com/OxZfJ3U.png" alt="web app" />
						<h3 class="centered"> Web App </h3>
					</div>
					<div id="thumtextA" style="display:none;">
						<p class="centered">For anyone making graphs online.</p>
					</div>
				</a>
			</div>
			<div class="four columns categories"  onmouseover="movingInImgOp(thumimgB, thumtextB)" onmouseout="movingOutImgOp(thumimgB, thumtextB)"> 
				<a href="https://plot.ly/api/" class="no_underline">
					<div id="thumimgB">
						<img class="hoverlight" src="http://i.imgur.com/5YEkTgO.png" alt="APIs" />
						<h3 class="centered"> APIs </h3>
					</div>
					<div id="thumtextB" style="display:none;">
						<p class="centered">For engineers and data scientists.</p>
					</div>
				</a>
			</div>
			<div class="four columns categories"  onmouseover="movingInImgOp(thumimgC, thumtextC)" onmouseout="movingOutImgOp(thumimgC, thumtextC)"> 
				<a href="https://plot.ly/workshop/" class="no_underline">
					<div id="thumimgC">
						<img class="hoverlight" src="http://i.imgur.com/FCI2Xcy.png" alt="Hardware" />
						<h3 class="centered"> Hardware</h3>
					</div>
					<div id="thumtextC" style="display:none;">
						<p class="centered">For engineers and hobbyists sending data from hardware to Plotly graphs.</p>
					</div>
				</a>
			</div>
		</div>
		

	</div>

<div class="tuthome-section-bg ">
	<div class="container">
		<div class="tuthome-section tuthome-padding">
			<h2 class="centered" id="tutorialsect">PLOTLY TUTORIALS</h2>
				<div class="row">
					<ul id="myList">
					
							<li><a href="http://help.plot.ly/create-a-line-of-best-fit-online">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/fzkGllW.png" alt="Line of best fit" />
									<div class="titlecenter">
										<h5 class="centered"> Create a line of best fit </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-box-plot-online" class="no_underline">
							<div class=" alltutcol "> 
									<img src="/static/images/box-plot/box-plot-thumbnail.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Box Plots </h5>
									<div>
							</div></a></li>
							<li><a href="http://help.plot.ly/histograms/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/AxENM9I.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Histograms </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-graph-with-error-bars-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/0TUQYy6.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Create a Graph with Error Bars </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-line-graph-and-scatter-plot-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/bvoMPwi.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Line and Scatter Graph </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-histogram-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/wlYSfl1.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Histogram </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-heatmap-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/qV64EAX.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Heat Map </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-embed-plotly-graphs-in-websites/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/w6ORNmV.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Embed Plotly Graphs in a Blog or Website </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-graph-with-multiple-axes-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/lpBvF0r.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Graph with Multiple Y Axes Online </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-bubble-chart-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/nw806BP.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Bubble Chart </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-box-plot-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/YPS9jee.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Box Plot </h5>
									</div>
							</div></a></li>
							<li><a href="http://help.plot.ly/how-to-make-a-bar-chart-online/">
							<div class=" alltutcol "> 
									<img src="http://i.imgur.com/tbjRqDx.png" alt="Tutorial" />
									<div class="titlecenter">
										<h5 class="centered"> Make a Bar Graph </h5>
									</div>
							</div></a></li>



	        			</ul>
				<div id="loadMore" class="four columns"  >
        				<a class="button no_underline" href="http://help.plot.ly/tutorials" >
						VIEW ALL TUTORIALS
					 </a>
				</div>
			</div>
		</div>

	
		<div class="tuthome-section tuthome-padding">
				<h2 class="centered">API Clients</h2>
				<div class="row">
						<a href="https://plot.ly/matlab/"><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(matlabImg, matlabText)" onmouseout="movingOutImgOp(matlabImg, matlabText)">
							<div id="matlabImg">
									<img src="http://i.imgur.com/FGTe7SD.png" title="MATLAB" />
										<h6 class="centered"> MATLAB </h6>
							</div>
							<div id="matlabText"  style="display:none;">
								<h6>Plotly's MATLAB API Client</h6>
								<p>Create graphs and manage your Plotly account with MATLAB. Convert MATLAB figures to Plotly graphs drawn in D3.js</p>
							</div>
						</div></a>
						<a href="https://plot.ly/python/"><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(pyImg, pyText)" onmouseout="movingOutImgOp(pyImg, pyText)">
							<div id="pyImg">
									<img src="http://i.imgur.com/AyXLtfa.png" title="Python" />
										<h6 class="centered"> Python </h6>
							</div>
							<div id="pyText" style="display:none;">
								<h6>Plotly's Python API Client</h6>
								<p>Create graphs and manage your Plotly account with Python. Convert matplotlib figures to Plotly graphs drawn in D3.js.</p>
							</div>
						</div></a>
						<a href="https://plot.ly/r/" ><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(rImg, rText)" onmouseout="movingOutImgOp(rImg, rText)">
							<div id="rImg" >
								<img src="http://i.imgur.com/xapt1aB.png" title="R" />
									<h6 class="centered"> R </h6>
							</div>
							<div id="rText" style="display:none;">
								 <h6>Plotly's R / RStudio API Client </h6>
								 <p>Create graphs and manage your Plotly account with R. Convert ggplot2 figures to Plotly graphs drawn in D3.js</p>
							</div>
						</div></a>
				</div>
		</div>
	</div>
    </div>
	{% include new_footer.html %}  
	
	<!-- Image Hover Script -->
  	<script src="/javascripts/imghover.js"></script>
  	

  </body>

</html>
