---
title: Plotly Help
---

<!DOCTYPE html>
<html>
    <head>

	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    	
    	<!-- Stytlesheets -->
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">
  
	 <!-- Icon -->
	 <link rel="shortcut icon" href="/images/plotly-ico.png" type="image/x-icon" />
	 
         <!-- META TAGS -->
         {% include seo.html %}
  	
  	
	</head>


  {% include new_header.html %}

  <body>

        <div class="bigcontainer" >
        	<div class="container tuthome-padding-b">
	        	<h1 class="centered">{{page.title}}</h1>
	        	<h2 class="centered">{{page.subtitle}}</h2>
		</div>
		<div class="row"> 

			<a href="/tutorials" class="no_underline">
				<div class="four columns categories" >  
						<h3 class="centered">Web App</h3>
						<img src="/images/plotly-hist-logo_150w.png" alt="web app" />
						<p class="centered">Anyone making charts or dashboards online.</p>
				</div>
			</a>

			<a href="https://plot.ly/api/" class="no_underline">
				<div class="four columns categories" >  
						<h3 class="centered">API clients</h3>
						<img src="/images/python-logo.png" alt="Python" />
						<img src="/images/r-logo.png" alt="R" />
						<p class="centered">Engineers and data scientists using Python, R, MATLAB, or JavaScript.</p>
				</div>
			</a>

			<a href="/excel" class="no_underline">
				<div class="four columns categories" >  
						<h3 class="centered">Plotly & Excel</h3>
						<img src="/images/Excel_logo.png" alt="Excel" />
						<p class="centered">Upload Excel sheets to Plotly to build best-practice charts, reports, and dashboards.</p>
				</div>
			</a>
			
		</div>
		

	</div>

<div class="tuthome-section-bg ">
	<div class="container">
		<div class="tuthome-section tuthome-padding">
			<h2 class="centered" id="tutorialsect">PLOTLY TUTORIALS</h2>
				<div class="row">
					<ul id="myList">
							{% for page in site.posts %}
								{% if page.state == 'active' and page.popularity contains 'frontpage' %}			
									<li class="no-margin-b"><a href="http://help.plot.ly{{page.permalink}}">
									<div class="alltutcol"> 
										{% if page.imageurl == "" or page.imageurl == nil %}
											<img src="/images/default.png" alt="Tutorial" />
										{% else %}
											<img src="{{page.imageurl}}" alt="Tutorial">
										{% endif %}
											<div class="titlecenter">
												<h5 class="centered"> {{page.title}} </h5>
											</div>
									</div></a></li>
									<div class="{% cycle 'group 1': '', '', 'three-column-clear' %}"></div>
								{% endif %}
							{% endfor %}
	        			</ul>
				<div id="loadMore" class="four columns"  >
        				<a class="button no_underline" href="http://help.plot.ly/tutorials" >
						VIEW ALL TUTORIALS
					 </a>
				</div>
			</div>
		</div>

	
		<div class="tuthome-section tuthome-padding">
				<h2 class="centered">API Clients</h2>
				<div class="row">
						<a href="https://plot.ly/matlab/"><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(matlabImg, matlabText)" onmouseout="movingOutImgOp(matlabImg, matlabText)">
							<div id="matlabImg">
									<img src="http://i.imgur.com/FGTe7SD.png" title="MATLAB" />
										<h6 class="centered"> MATLAB </h6>
							</div>
							<div id="matlabText"  style="display:none;">
								<h6>Plotly's MATLAB API Client</h6>
								<p>Create graphs and manage your Plotly account with MATLAB. Convert MATLAB figures to Plotly graphs drawn in D3.js</p>
							</div>
						</div></a>
						<a href="https://plot.ly/python/"><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(pyImg, pyText)" onmouseout="movingOutImgOp(pyImg, pyText)">
							<div id="pyImg">
									<img src="http://i.imgur.com/AyXLtfa.png" title="Python" />
										<h6 class="centered"> Python </h6>
							</div>
							<div id="pyText" style="display:none;">
								<h6>Plotly's Python API Client</h6>
								<p>Create graphs and manage your Plotly account with Python. Convert matplotlib figures to Plotly graphs drawn in D3.js.</p>
							</div>
						</div></a>
						<a href="https://plot.ly/r/" ><div class=" alltutcol categories-apis" onmouseover="movingInImgOp(rImg, rText)" onmouseout="movingOutImgOp(rImg, rText)">
							<div id="rImg" >
								<img src="http://i.imgur.com/xapt1aB.png" title="R" />
									<h6 class="centered"> R </h6>
							</div>
							<div id="rText" style="display:none;">
								 <h6>Plotly's R / RStudio API Client </h6>
								 <p>Create graphs and manage your Plotly account with R. Convert ggplot2 figures to Plotly graphs drawn in D3.js</p>
							</div>
						</div></a>
				</div>
		</div>
	</div>
    </div>
	{% include new_footer.html %}  
	
	<!-- Image Hover Script -->
  	<script src="/javascripts/imghover.js"></script>
  	

  </body>

</html>
