<!-- aside.sidebar : section sidebar -->
<aside class="sidebar">
    <h4>Categories</h4>

    {% for page in site.posts %}
        {% if page.state == 'active' %}
            {% if page.section == "BasicCharts" %}
                {% assign basic_chart = true %}
            {% elsif page.section == "Maps" %}
                {% assign map_chart = true %}
            {% elsif page.section == "3D Charts" %}
                {% assign 3d_chart = true %}
            {% elsif page.section == "Layouts" %}
                {% assign layout_chart = true %}
            {% elsif page.section == "Dashboards" %}
                {% assign dashboards = true %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <ul>
        {% if basic_chart %}
          <li class="buttonM">
              <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#basiccharts">
                  Basic Charts
              <paper-ripple fit></paper-ripple></a>
          </li>
        {% endif %}

        {% if map_chart %}
            <li class="buttonM">
                <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#mapcharts">
                    Map Charts
                <paper-ripple fit></paper-ripple></a>
            </li>
        {% endif %}

        {% if 3d_chart %}
        <li class="buttonM">
            <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#threeDCharts">
                3D Charts
            <paper-ripple fit></paper-ripple></a>
        </li>
        {% endif %}

        {% if layout_chart %}
        <li class="buttonM">
            <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#layout">
                Multiple Axes, Subplots, and Insets
            <paper-ripple fit></paper-ripple></a>
        </li>
        {% endif %}

        {% if dashboards %}
            <li class="buttonM">
                <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#dashboards">
                    Dashboards
                <paper-ripple fit></paper-ripple></a>
            </li>
        {% endif %}

    </ul>
</aside>
