<!-- aside.sidebar : section sidebar -->
<aside class="sidebar">
    <h4>Categories</h4>
    <ul>
        <li class="buttonM">
            <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#basiccharts">
                Basic Charts
            <paper-ripple fit></paper-ripple></a>
        </li>
        <li class="buttonM">
            <a data-scroll style="text-transform: uppercase; letter-spacing: 2px; " href="#dashboards">
                Dashboards
            <paper-ripple fit></paper-ripple></a>
        </li>
    </ul>
</aside>
