<!-- aside.steps : step sidebar -->
<aside class="steps">
    <h4>Steps</h4>
    <ul>
     {% for step in page.steps %}
     {% assign thisStep = page.steps[forloop.index0] %}
        <li class="buttonM">
            <a data-scroll href="#step-0{{forloop.index}}">
                <span class="step-number">Step {{ forloop.index }}</span>

                <span class="step-meta">
                {% for this in step.title %}{{this}}{% endfor %}
                </span>

                <paper-ripple fit></paper-ripple>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>
