<!-- breadcrumb -->
<div class="breadcrumb">
	<a href="http://help.plot.ly/" class="help buttonM">
	Help Center
		<paper-ripple fit></paper-ripple>
	</a>
	<a href="http://help.plot.ly/excel/" class="tutorials buttonM">
	Tutorials
		<paper-ripple fit></paper-ripple>
	</a>
	<a href="{{page.url}}" class="active buttonM">
	{{page.title}}
		<paper-ripple fit></paper-ripple>
	</a>
	<a href="{{page.actioncall-url}}" class="tutorials buttonM" style="background-color:#2391fe;color:white;" target="_blank">
	Open Data in Chart Studio
		<paper-ripple fit></paper-ripple>
	</a>
</div>


