<div   class="twelve columns" >
  <div class="row">
      <h3 class="centered">Questions or Feedback?</h3>
  </div>
  <div class="row">
    <div class="six columns">
      <h6>About Plotly</h6>
      <p>
      email: feedback [at] plot [dot] ly</br>
      tweet:<a href="https://twitter.com/plotlygraphs"> @plotlygraphs</a>.</p>
      
      <h6>About Learn Tutorials</h6>
      <p>email: education [at] plot [dot] ly </p>
    </div>
    <div class="six columns">
      <img src="http://help.plot.ly/images/plotly-hist-logo_150w.png">
    </div>
  </div>
</div>
