<div class="twelve columns feedback-section">
  <div class="row">
      <h3 class="centered">Questions or Feedback?</h3>
  </div>
  <div class="row">
    <div class="offset-by-two four columns centered_on_mobile">
      <h6>About Plotly</h6>
      <p>
        Q&A <a href="http://community.plot.ly/">community.plot.ly</a><br><br>
        <i class="fa fa-twitter"></i> <a href="https://twitter.com/plotlygraphs"> @plotlygraphs</a><br><br>
        <i class="fa fa-github-alt"></i> <a href="https://github.com/plotly">github.com/plotly</a>
      </p>
    </div>
    <div class="four columns">
      <img class="float_right" src="http://help.plot.ly/images/plotly-hist-logo_150w.png" alt="">
    </div>
  </div>
</div>
