<div class="help-box">
    <div class="container">
        <h4>Questions or Feedback?</h4>
        <div class="wrap">
            <div class="logo">
                <img src="http://help.plot.ly/images/plotly-hist-logo_150w.png" alt="Plotly">
            </div>
            <div class="about">
                <h5>About Plotly</h5>
                <ul class="contact">
                    <li>forum: <a href="http://community.plot.ly/">community.plot.ly</a></li>
                    <li>twitter:<a href="https://twitter.com/plotlygraphs"> @plotlygraphs</a>.</li>
                    <li>github:<a href="https://github.com/plotly">github.com/plotly</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
