<div class="hero">
    <div class="hero-slider">
        {% for page in site.posts %} 
        {% if page.state == 'active' %}
            {% if page.carouselimageurl != "" and page.carouselimageurl != nil %}
                <div class="card-container">
                    <article class="card">
                        <div class="img" style="background: url({{page.carouselimageurl}}) no-repeat center center; background-color: #fff;">
                        </div>
                        <div class="body">
                            <div class="title">
                                <a href="http://help.plot.ly{{page.permalink}}" class="title">{{page.title}}</a>
                            </div>
                            <div class="button">
                                <a href="http://help.plot.ly{{page.permalink}}" class="view">View<br>Tutorial</a>
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <br clear="both" />
    <!-- </div> -->
</div>
