<div style="background-image: url(https://plot.ly/gh-pages/documentation/static//images/plotlyjs-background-1.png);height: 200px;text-align: center;">
  <div style="background-color: rgba(255,255,255,0.8); height: 100%; text-align: center;">
    <div style="text-align: center;position: relative;">
      	<h6 class="centered hero-text-cta" style="padding-top:40px;">plotly is free for unlimited public use</h6>
      	<a class="button hero-button-cta" href="https://plot.ly/products/cloud/" target="_blank">SIGN UP FOR FREE</a>
      	<h6 class="centered hero-text-cta">Sensitive data? <a href="https://plot.ly/products/cloud/">Upgrade to Pro</a></h6>
    </div>
  </div>
</div>
