<!-- meta-tutorial-links // alt language option + download and make buttons -->
<div class="program">
	{% for this in page.otherlang %} {{ this | markdownify }} {% endfor %}
</div>
<div class="button-wrap">
	<a href="{{page.actioncall-url}}" class="make buttonM" style="color:white; background: #2391fe;" target="_blank">
		Open Data in Plotly
		<paper-ripple fit></paper-ripple>
	</a>
	{% if page.download-url %}
	<a href="{{page.download-url | remove:'.zip'}}" class="download buttonM" download>
		Download CSV Data
		<paper-ripple fit></paper-ripple>
	</a>
	{% endif %}
	<a href="#" onclick="window.print();" class="download buttonM" onmouseover="document.getElementById('print-icon').src='/images/blue-print-icon.png'" onmouseout="document.getElementById('print-icon').src='/images/grey-print-icon.png'" style="padding-top: 19px; padding-bottom: 11px;">
		<img id="print-icon" src="/images/grey-print-icon.png"  style="width: 30px; display: inline-block; vertical-align: middle;" alt="print" >
		<paper-ripple fit></paper-ripple>
	</a>
</div>
