<!-- meta-tutorial-links // alt language option + download and make buttons -->
<div class="program">
	{% for this in page.otherlang %} {{ this | markdownify }} {% endfor %}
</div>
<div class="button-wrap">
	{% if page.layout.includes('connectors') %}

	<a href="{{page.actioncall-url}}" class="make buttonM" style="color:white; background: #2391fe;" target="_blank">
		Download the App
		<paper-ripple fit></paper-ripple>
	</a>
	<a href="https://plotly.typeform.com/to/KUiCSl" class="make buttonM" style="color:white; background: #2391fe;" target="_blank">
		Vote For the Next Database!
		<paper-ripple fit></paper-ripple>
	</a>

	{% else %}

	<a href="{{page.actioncall-url}}" class="make buttonM" style="color:white; background: #2391fe;" target="_blank">
		Open Data in Plotly
		<paper-ripple fit></paper-ripple>
	</a>

	{% endif %}

	{% if page.download-url %}
	<a href="{{page.download-url | remove:'.zip'}}" class="download buttonM" download>
		Download CSV Data
		<paper-ripple fit></paper-ripple>
	</a>
	{% endif %}
</div>
