<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
</head>

<footer>
	<div class="row footerarea footer-top">
		<div class="one column space"> </div>
		<div class="two columns">
			<h6 class="footer-heading">API</h6>
			<ul>
				<li><a class="link --muted-bold" href="/api/" target="_self">Documentation</a></li>
				<li><a class="link --muted-bold" href="/api/" target="_self">API Libraries</a></li>
				<li><a class="link --muted-bold" href="/rest/" target="_self">REST APIs</a></li>
				<li><a class="link --muted-bold" href="/javascript-graphing-library/" target="_self">Plotly.js</a></li>
				<li><a class="link --muted-bold" href="/workshop/" target="_self">Hardware</a></li>
			</ul>
		</div>
		<div class="two columns">
			<h6 class="footer-heading">About Us</h6>
			<ul>
				<li><a class="link --muted-bold" href="/company/team/" target="_self">Team</a></li>
				<li><a class="link --muted-bold" href="/company/jobs/" target="_self">Careers</a></li>
				<li><a class="link --muted-bold" href="http://blog.plot.ly" target="_blank">Plotly Blog</a></li>
				<li><a class="link --muted-bold" href="http://moderndata.plot.ly" target="_blank">Modern Data</a></li>
			</ul>
		</div>
		<div class="two columns">
			<h6 class="footer-heading">Help</h6>
			<ul>
				<li><a class="link --muted-bold" href="/learn/" target="_self">Knowledge Base</a></li>
				<li><a class="link --muted-bold" href="/benchmarks/" target="_self">Benchmarks</a></li>
				<li><a class="link --muted-bold" href="/workshop/" target="_self">Workshop</a></li>
			</ul>
		</div>
		<div class="two columns">
			<h6 class="footer-heading">Solutions</h6>
			<ul>
				<li><a class="link --muted-bold" href="/product/plans/" target="_self">Plans &amp; Pricing</a></li>
				<li><a class="link --muted-bold" href="/product/enterprise/" target="_self">Enterprise</a></li>
				<li><a class="link --muted-bold" href="/online-graphing-and-statistics-for-educators/" target="_self">Education</a></li>
				<li><a class="link --muted-bold" href="/product/plotlyjs/" target="_self">Plotly.js</a></li>
			</ul>
		</div>
		<div class="two columns">	
     		<h6 class="footer-heading">Connect</h6>
			<ul class="plotly-social-media-small">
				<li><a class="link --social-icon" href="//twitter.com/plotlygraphs" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a class="link --social-icon" href="//www.facebook.com/Plotly" target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a class="link --social-icon" href="//github.com/plotly" target="_blank"><i class="icon-github"></i></a></li>
				<li><a class="link --social-icon" href="//linkedin.com/company/plotly" target="_blank"><i class="icon-linkedin"></i></a></li>
				<li><a class="link --social-icon" href="//plus.google.com/+PlotLy" target="_blank"><i class="icon-google-plus"></i></a></li>
			</ul>
		</div>
		<div class="one column"></div>
	</div>
	
	<div class="row footerarea footer-bottom">
		<div class="one column space"> </div>
		<div class="four columns"><p>Copyright &copy; 2015 Plotly. All rights reserved.</p></div>
		<div class="two columns"><a class="link --muted-bold" href="/terms-of-service/" target="_blank" >Terms of Service</a></div>
		<div class="two columns"><a class="link --muted-bold" href="/privacy/" target="_blank">Privacy Policy</a></div>
		
		
	</div>

</footer>
