<div class="headerbar">

  <div class="headerbar-leftside">
      <a href="https://plot.ly/create/" class="logo">
          <i class="ploticon-plotlylogo"></i>
          <em>plotly</em>
      </a>
  </div>

  <div class="headerbar-rightside hidesmall">

      <a class="button" href="https://plot.ly/create/">
        &plus; CREATE A GRAPH
      </a>

      <a class="button" href="https://plot.ly/products/cloud/">
        UPGRADE
      </a>
  </div>

  <div class="headerbar-nav hidesmall">

      <a href="http://dashboards.ly/" target="_blank">
        <span class="headerbar-nav-item ">Dashboards</span>
      </a>

      <a href="https://plot.ly/feed/" target="_self">
        <span class="headerbar-nav-item ">Feed</span>
      </a>

      <a href="https://plot.ly/products/cloud/" target="_self">
        <span class="headerbar-nav-item ">Pricing</span>
      </a>

      <a href="/">
        <span class="headerbar-nav-item ">Help</span>
      </a>

  </div>



  <div class="hamburger">
    <a href="#popmenufull" onclick="return clickfullmenu();">
      <img src="http://i.imgur.com/o7Mxj6T.png" alt="Menu" id="hamburgerlink" onmouseover="this.src='http://i.imgur.com/gj2TtuI.png'" onmouseout="this.src='http://i.imgur.com/o7Mxj6T.png'">
    </a>

  </div>

</div>

<!-- POP UP MENU -->
  <div id="popmenufull" style="display:none;">
      <div class="popupheader">
          <div class="headerbar-leftside">
            <a href="https://plot.ly/products/cloud" class="logo">
              <i class="ploticon-plotlylogo"></i>
              <em>plotly</em>
            </a>
          </div>
          <a href="#popmenufull" onclick="return clickfullmenu();">
          <div class="close"><img alt="close" src="http://i.imgur.com/esVZHwn.png"></div> </a>
      </div>

      <div class="popupmenu">
        <ul>
          <li><a href="https://plot.ly/feed/">Feed</a></li>
          <li><a href="http://dashboards.ly/" target="_blank">Dashboards</a></li>
          <li><a href="https://plot.ly/products/cloud/">Pricing</a></li>
          <li><a href="/">Help</a></li>
        </ul>
      </div>

  </div>

  <!-- POPUP MENU FULL PAGE -->
  <script>
  function clickfullmenu(){
    var thediv=document.getElementById('popmenufull');
    if(thediv.style.display == "none"){
      thediv.style.display = "";
    }else{
      thediv.style.display = "none";
    }
    return false;
  };
  </script>

  <!-- Drop Down Menu -->
  <script>
  function dropDownMenu(divID){
    var chosenDiv = document.getElementById(divID);
    console.log(chosenDiv);
    if(chosenDiv.style.display == "none"){
      chosenDiv.style.display = "block";
    }
  };
  function hideDropDownMenu(divID){
    var chosenDiv = document.getElementById(divID);
    console.log(chosenDiv);
    if(chosenDiv.style.display == "block"){
      chosenDiv.style.display = "none";
    }
  }
  </script>
