<footer class="--footer-main">
    <section class="--footer-top">
        <div class="--wrap">
            <ul class="--footer-body">
                <li class="--footer-column">
                    <h6 style="color:#e763fa" class="--footer-heading">DASH</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/python/" target="_self">Overview</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/r/" target="_self">Dash DAQ</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/matlab/" target="_self">Dash Deployment Server</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#636efa" class="--footer-heading">COMPANY</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/company/careers/" target="_self">Careers</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plotly.typeform.com/to/r4OilH" target="_blank">Customer Contact</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://moderndata.plot.ly/" target="_blank">#plotlylife</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/products/industries/" target="_blank">Twitter</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plotcon.plot.ly/" target="_blank">GitHub</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#00cc96" class="--footer-heading">RESOURCES</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://support.plot.ly/" target="_self">Developer Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://community.plot.ly/" target="_self">Community Support</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="http://help.plot.ly/" target="_self">Documentation</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#EF553B" class="--footer-heading">GRAPHING LIBRARIES</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/dash/" target="_self">Dash</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/plotly-js-scientific-d3-charting-library/" target="_self">Plotly.js</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-python-and-pandas-charts/" target="_self">Plotly.py</a>
                        </li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/d3-js-for-r-and-shiny-charts/" target="_self">Plotly.R</a></li>
                    </ul>
                </li>
                &#x9;&#x9;
                <li class="--footer-column">
                    <h6 style="color:#19d3f3" class="--footer-heading">EMBEDDED BI/OEM</h6>&#x9;&#x9;&#x9;
                    <ul>
                        <li><a href="https://plot.ly/online-chart-maker/" target="_self">Chart Studio</a></li>
                        &#x9;&#x9;&#x9;&#x9;
                        <li><a href="https://plot.ly/dashboards/" target="_self">Dashboards</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="--footer-meta">
        <div class="--wrap">
            <div class="left">
                {% include copyright.html %}
            </div>
            <div class="right">
                <article class="--tos"><a href="https://plot.ly/terms-of-service/" target="_blank">Terms of Service</a>
                </article>
                <article class="--privacy"><a href="https://plot.ly/privacy/" target="_blank">Privacy Policy</a>
                </article>
            </div>
        </div>
    </section>
</footer>


<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}});
</script>

<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML%2CSafe.js&#038;ver=4.1"></script>

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("ad6df61d0b9400400b240631576c24d4");</script><!-- end Mixpanel -->

<script type="text/javascript">
function getQueryParam(param) {
    param = param.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regexS = "[\\?&]" + param + "=([^&#]*)",
        regex = new RegExp( regexS ),
        results = regex.exec(document.URL);
    if (results === null || (results && typeof(results[1]) !== 'string' && results[1].length)) {
        return '';
    } else {
        return decodeURIComponent(results[1]).replace(/\+/g, ' ');
    }
};
</script>

<script type="text/javascript">
    mixpanel.track("Page visit", {
        "url_group": "help.plot.ly",
        "url": window.location.pathname,
    });
</script>

<script type="text/javascript">
    var visit_origin = getQueryParam("campaign_id");

    mixpanel.register({
        "email_campaign_received": visit_origin
    });

		mixpanel.track("Email Campaign visit", {
				"url": window.location.pathname,
				"email_campaign_received": visit_origin
		});
</script>


<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0042/1249.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Perfect Audience -->
<script type="text/javascript">
(function() {
  window._pa = window._pa || {};
  // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
  // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
  // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
  var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
  pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5641f73b04b7cacb9d000124.js";
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
})();
</script>
