<script>
$('document').ready(function() {
            $(".hero-slider").owlCarousel({

                // Most important owl features
                items: 2,
                itemsCustom: false,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [980, 1],
                itemsTablet: [768, 1],
                itemsTabletSmall: false,
                itemsMobile: [479, 1],
                singleItem: true,
                itemsScaleUp: false,

                // // Navigation
                navigation: true,
                navigationText: ["", ""],

            });

            $('document').ready(function() {
                smoothScroll.init({
                    selector: '[data-scroll]', // Selector for links (must be a valid CSS selector)
                    speed: 300, // Integer. How fast to complete the scroll in milliseconds
                    easing: 'easeInOutCubic', // Easing pattern to use
                    updateURL: true, // Boolean. Whether or not to update the URL with the anchor hash on scroll
                    offset: 140, // Integer. How far to offset the scrolling anchor location in pixels
                    callback: function(toggle, anchor) {} // Function to run after scrolling
                });

                var aChildren = $(".sidebar ul li").children(); // find the a children of the list items
                var aArray = []; // create the empty aArray
                for (var i = 0; i < aChildren.length; i++) {
                    var aChild = aChildren[i];
                    var ahref = $(aChild).attr('href');
                    aArray.push(ahref);
                } // this for loop fills the aArray with attribute href values

                var newArray = $.map(aArray, function(v) {
                    return v === "" ? null : v;
                });
                console.log(newArray);
                $(window).scroll(function() {
                    var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
                    var windowHeight = $(window).height(); // get the height of the window
                    var docHeight = $(document).height();

                    for (var i = 0; i < newArray.length; i++) {
                        var theID = newArray[i];
                        var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                        var divHeight = $(theID).height(); // get the height of the div in question
                        if ((windowPos + 180) >= (divPos) && (windowPos + 120) <= ((divPos) + divHeight)) {
                            $("a[href='" + theID + "']").closest('li').addClass("active");
                        } else {
                            $("a[href='" + theID + "']").closest('li').removeClass("active");
                        }
                    }

                    if (windowPos + windowHeight == docHeight) {
                        if (!$("aside li:last-child a").closest('li').hasClass("active")) {
                            var navActiveCurrent = $(".active").closest('a').attr("href");
                            $("a[href='" + navActiveCurrent + "']").closest('li').removeClass("active");
                            $("aside li:last-child a").closest('li').addClass("active");
                        }
                    }
                });
                var element = $('.header');

                var nav = $('.headerbar');

                var elementPosition = element.offset();

                var header = $('.header');
                var width = element.width();
                var height = element.height();
                var sidebar = $('.sidebar');
                var sidebarW = sidebar.width();
                var navW = nav.width();
                var navH = nav.height();
                var isAdded = false;

                console.log(element.width());

                $(window).scroll(function() {
                    if ($(window).scrollTop() >= elementPosition.top - 80 && !isAdded) {
                        $('.header').addClass('sticky');
                        $("<div class='placeholder' style='width:" + width + "px;height:" + (height) + "px'></div>").insertAfter(".header");
                        sidebar.addClass('sticky');

                        isAdded = true;
                        console.log('1');
                    } else if ($(window).scrollTop() < elementPosition.top - 80 && isAdded) {

                        $('.header').removeClass('sticky');
                        sidebar.removeClass('sticky');
                        $('.placeholder').remove();
                        isAdded = false;
                        // console.log('2');
                    }
                });

            });
    });
</script>
