<script>
$('document').ready(function() {
    smoothScroll.init({
        selector: '[data-scroll]', // Selector for links (must be a valid CSS selector)
        speed: 300, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        updateURL: true, // Boolean. Whether or not to update the URL with the anchor hash on scroll
        offset: 140, // Integer. How far to offset the scrolling anchor location in pixels
        callback: function(toggle, anchor) {} // Function to run after scrolling
    });

    var aChildren = $(".steps ul li").children(); // find the a children of the list items
    var aArray = []; // create the empty aArray
    for (var i = 0; i < aChildren.length; i++) {
        var aChild = aChildren[i];
        var ahref = $(aChild).attr('href');
        aArray.push(ahref);
    } // this for loop fills the aArray with attribute href values

    var newArray = $.map(aArray, function(v) {
        return v === "" ? null : v;
    });
    console.log(newArray);
    $(window).scroll(function() {
        var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
        var windowHeight = $(window).height(); // get the height of the window
        var docHeight = $(document).height();

        for (var i = 0; i < newArray.length; i++) {
            var theID = newArray[i];
            var divPos = $(theID).offset().top; // get the offset of the div from the top of page
            var divHeight = $(theID).height(); // get the height of the div in question
            if ((windowPos + 180 ) >= (divPos) && (windowPos + 120 ) < ((divPos) + divHeight)) {
                $("a[href='" + theID + "']").closest('li').addClass("active");
            } else {
                $("a[href='" + theID + "']").closest('li').removeClass("active");
            }
        }

        if (windowPos + windowHeight == docHeight) {
            if (!$("aside li:last-child a").closest('li').hasClass("active")) {
                var navActiveCurrent = $(".active").closest('a').attr("href");
                $("a[href='" + navActiveCurrent + "']").closest('li').removeClass("active");
                $("aside li:last-child a").closest('li').addClass("active");
            }
        }
    });

    $(window).scroll(function() {
        var length = $('main .wrap').position().top + $('main .wrap').outerHeight(true);
        var helpH = $('main .help-box').outerHeight(true);
        var tlt = $('main .tutorials-like-this').outerHeight(true);
        var bottom = (helpH + tlt)-11;

        length = length - 488;

        var scroll = $(this).scrollTop();

        $( window ).resize(function() {
          length = $('main .wrap').position().top + $('main .wrap').outerHeight(true);
        
        helpH = $('main .help-box').outerHeight(true);
        tlt = $('main .tutorials-like-this').outerHeight(true);
        bottom = (helpH + tlt);

        length = length - 488;

        scroll = $(this).scrollTop();

		});
        console.log('bottom:' + bottom);
        // var height = $('#sidebar').height() + 'px';

        if (scroll > length) {

            $('aside.steps').css({
                'position': 'absolute',
                'bottom': bottom + 'px',
                'top': 'auto'
            });

        } else {
            $('aside.steps').css({
                'position': 'fixed',
                'bottom': 'auto',
                'top': '81px'
            });
        }
    });
    $('p').each(function() {
        var $this = $(this);
        if ($this.html().replace(/\s|&nbsp;/g, '').length == 0)
            $this.remove();
    });
});
</script>
