<!-- SEO Tags - title, meta_description -->
    <title>{% if page.title == "" or page.title == nil %}plotly{% else %}{{page.title}}{% endif %}</title>
    <meta name="description" content="{% if page.meta_description %}{{page.meta_description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}">

<!-- Bing tags -->
    <meta name="msvalidate.01" content="D319859A832F9F1D15A7646E2A42150A" />
<!-- /Bing tags -->

<!-- twitter tags --><!--
<meta name="twitter:card" content="photo" />
<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}plotly{% endif %}"/>
<meta name="twitter:url" content="{% if page.permalink %}{{page.permalink}}{% endif %}"/>
-->
<meta name="twitter:description" content="{% if page.meta_description %}{{page.meta_description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}"/>
<meta name="twitter:image" content="{% if page.imageurl %}{{page.imageurl}}{% else %}{% '/images/twitter-default.png' %}{% endif %}"/>
<meta name="twitter:site" content="@plotlygraphs"/>

<!--/ twitter tags -->

<!-- Favicon -->
<link rel="shortcut icon" href="/images/plotly-ico.png" />
<!--/ Favicon -->
