<!-- SEO Tags - title, meta_description, image -->
<title>{% if tags and tags.title %}{{tags.title}}{% else %}plotly{% endif %}</title>
<meta name="description" content="{% if tags and tags.meta_description %}{{tags.meta_description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}">

<!-- Bing tags -->
<meta name="msvalidate.01" content="D319859A832F9F1D15A7646E2A42150A" />
<!-- /Bing tags -->

<!-- Facebook tags -->
<!--
<meta property="og:title" content="{% if tags and tags.title %}{{tags.title}}{% else %}plotly{% endif %}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{% if tags and tags.imageurl %}{{tags.image}}{% else %}{% '/images/twitter-default.png' %}{% endif %}">
<meta property="og:description" content="{% if tags and tags.meta_description %}{{tags.meta_description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}"/>
<meta property="og:url"
<meta property="fb:admins" content="1123751525"/>
<meta property="fb:admins" content="22418"/>
-->
<!--/ Facebook tags -->

<!-- twitter tags --><!--
<meta name="twitter:card" content="photo" />
<meta name="twitter:title" content="{% if tags and tags.title %}{{tags.title}}{% else %}plotly{% endif %}"/>
<meta name="twitter:url" content="{% if tags and tags.url %}{{tags.url}}{% endif %}"/>
<meta name="twitter:description" content="{% if tags and tags.meta_description %}{{tags.meta_description}}{% else %}Plotly is the easiest way to graph and share your data.{% endif %}"/>
<meta name="twitter:image" content="{% if tags and tags.imageurl %}{{tags.image}}{% else %}{% '/images/twitter-default.png' %}{% endif %}"/>
<meta name="twitter:site" content="@plotlygraphs"/>
--><!--/ twitter tags -->

<!-- Favicon --><!--
<link rel="shortcut icon" href="/images/plotly-ico.png" />
--><!--/ Favicon -->
