#alltutorialsect{
	padding-top: 50px;
	padding-bottom: 50px;
}

.tutorialsect_title{
	padding-left: 5%;
}

.tutorialsect_title h3{
	padding-left: 5%;
}

.thumpad{
	margin-bottom: 15px;
	background-color: #ffffff;
	color: #1d3b84;
	font-family: "Open Sans",verdana,arial,sans-serif;
}


.thumpad p, .thumpad h5{
	margin: 3px;
	margin-top: 5px;
	text-align: center;
}

.thumpad p,{
	font-size: 1.1em;
}

.thumpad a{
	text-decoration: none;
}


.bigcontainer{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.centered{
	text-align: center;
}

.totpadding{
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.totpaddingtut{
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.paddingbottom{
	padding-bottom: 40px;
}

img{
	min-width: 100%;
}

.sectionbg{
    background-color: #F3F3F3;
	width: 100%;
}

.sectionseparator{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.alltutcol {
    width: 100%;
    margin: 40px 5%;
    float: left;
    box-sizing: border-box; 
}

.sectionseparator li{
	list-style: none;
	font-size: 12px;
}

.sectionseparator a{
	text-decoration: none;
	color: #8c97af;
}

.sectionseparator a:hover{
	color: #69738a;
}
.sectionseparator:last-child{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

/*
#myList li{
	display:none;
	list-style: none;
} 
*/

#loadMore, #loadMore a, #loadMore a:hover, #exploreMore, #exploreMore a, #loadMore a:hover{
	display: block;
	clear: both;
	color: #ffffff;
	text-align: center;

}

#loadMore, #exploreMore{

    margin-left: 1%;
    margin-right: 1%;
}

@media (min-width: 550px) {
	.alltutcol {
		width: 22.6667%;
	}
	.tutblocks{
	   min-height: 375px;}
	.projectblock{
	    min-height: 220px;
	}
	.projectblock h6{
	margin-bottom:0;
	padding-top: 10px;
	}
	#loadMore, #exploreMore{
	margin-left: 33.6667%;
	}
}
