/* Page Sectioning */
.sectionseparator_a{
	    background-color: #EEEEEE;
}
.sectionseparator_b{
	    background-color: #FBFBFD;
}

.bigcontainer{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: green;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 1%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
      .column:last-child,
  .columns:last-child {
  	margin-right:0;
  }
  }
}

.sectionseparator_a li, .sectionseparator_b li, .sectionseparator_a a, .sectionseparator_b a{
	list-style: none;
	font-size: 12px;
	text-decoration: none;
	color: #8c97af;
}

.sectionseparator_a a:hover, .sectionseparator_b a:hover{
	color: #69738a;
}


.alltutcol {
    width: 100%;
    float: left;
    box-sizing: border-box; 
}

.tutorialsect_title{
	padding-top: 30px;
	padding bottom: 30px;
}

.thumpad{
	margin-bottom: 15px;
	background-color: #ffffff;
	color: #1d3b84;
	font-family: "Open Sans",verdana,arial,sans-serif;
}


.thumpad p, .thumpad h5{
	margin: 3px;
	margin-top: 5px;
	text-align: center;
}

.thumpad p,{
	font-size: 1.1em;
}

.thumpad a{
	text-decoration: none;
}



@media (min-width: 550px) {
	.alltutcol {
		width: 24.33333333%;
		margin: 40px 1.5%;
	}
	.tutorialsect_title{
		padding-left: 5%;
	}

/*
	.projectblock{
	    min-height: 220px;
	}
	.projectblock h6{
	margin-bottom:0;
	padding-top: 10px;
	}
	#loadMore, #exploreMore{
	margin-left: 33.6667%;
	}
	*/
}



/* Larger than tablet */
@media (min-width: 750px) {
	.tutblocks{
	   min-height: 275px;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.tutblocks{
	   min-height: 325px;}
	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.tutblocks{
	   min-height: 375px;}
	
}





/******************************************
OLD STYLING
******************************************/
/*
#alltutorialsect{
	padding-top: 30px;
	padding-bottom: 30px;
}

.titlecenter{
	padding: 15px;
}

.tutorialsect_title h3{
	padding-left: 5%;
	padding-top: 40px;
	padding-bottom: 0px;
}

.thumpad{
	margin-bottom: 15px;
	background-color: #ffffff;
	color: #1d3b84;
	font-family: "Open Sans",verdana,arial,sans-serif;
}


.thumpad p, .thumpad h5{
	margin: 3px;
	margin-top: 5px;
	text-align: center;
}

.thumpad p,{
	font-size: 1.1em;
}

.thumpad a{
	text-decoration: none;
}


.bigcontainer{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.centered{
	text-align: center;
}

.totpadding{
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.totpaddingtut{
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.paddingbottom{
	padding-bottom: 40px;
}

img{
	min-width: 100%;
}

.sectionbg{
    background-color: #EEEEEE;
	width: 100%;
}

.sectionseparator_a{
	    background-color: #EEEEEE;

}
.sectionseparator_b{
	    background-color: #FBFBFD;

}
.alltutcol {
    width: 100%;
    margin: 40px 5%;
    float: left;
    box-sizing: border-box; 
}

.sectionseparator li{
	list-style: none;
	font-size: 12px;
}

.sectionseparator a{
	text-decoration: none;
	color: #8c97af;
}

.sectionseparator a:hover{
	color: #69738a;
}
.sectionseparator:last-child{
	border-bottom-width: 0px;
	border-bottom-style: none;
}
*/
/*
#myList li{
	display:none;
	list-style: none;
} 
*/
/*
#loadMore, #loadMore a, #loadMore a:hover, #exploreMore, #exploreMore a, #loadMore a:hover{
	display: block;
	clear: both;
	color: #ffffff;
	text-align: center;

}

#loadMore, #exploreMore{

    margin-left: 1%;
    margin-right: 1%;
}

@media (min-width: 550px) {
	.alltutcol {
		width: 22.6667%;
	}

	.projectblock{
	    min-height: 220px;
	}
	.projectblock h6{
	margin-bottom:0;
	padding-top: 10px;
	}
	#loadMore, #exploreMore{
	margin-left: 33.6667%;
	}
}

*/

/* Larger than tablet *//*
@media (min-width: 750px) {
	.tutblocks{
	   min-height: 275px;}
}
*/
/* Larger than desktop *//*
@media (min-width: 1000px) {
	.tutblocks{
	   min-height: 325px;}
	
}
*/
/* Larger than Desktop HD *//*
@media (min-width: 1200px) {
	.tutblocks{
	   min-height: 375px;}
	
}
*/
