.thumpad{
	margin-bottom: 10px;
	background-color: #ffffff;
}

.thumpad p{
	margin: 10px;
}


.thumpad:hover{
	box-shadow: 0px 0px 30px 5px #cccccc;
}

.bigcontainer{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.centered{
	text-align: center;
}

.totpadding{
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.paddingbottom{
	padding-bottom: 40px;
}

img{
	min-width: 100%;
}

.sectionbg{
    background-color: #F3F3F3;
	width: 100%;
}

.sectionseparator{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.alltutcol {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    box-sizing: border-box; 
}

@media (min-width: 550px) {
	.alltutcol {
	    width: 30.6666666667%;}
}
