/********************
HEADER
********************/
.headerbar{
	background-color: #ffffff;
	height: 80px;
	width: 100%;
	line-height: 78px;
	display: block;
	min-width: 1080px;
	border-bottom: 0px solid #cccccc;
}

.hamburger{
	display: none;
}

@media (max-width: 1100px) {
	.hamburger{
	float: right;
	display: block;
	max-width: 40px;
	max-height: 30px;
  	margin-right: 40px;
	margin-top: 20px;
	}
}

/********************
CONTAINER
********************/

.bigcontainer{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
}

.help-splash{
  background-image: url("/images/3d_plot_background.jpg");
  background-position-y: 40%;
  background-position-x: 50%;  
}

.bigcontainer-w-nav-wrap{
  width: 80%;
	margin-left: 20%;
}

.smallcontainer{
   max-width: 900px;
}

/********************
FOOTER
********************/
.footerarea{
    color: #69738A;
    background-color: #ffffff;
    padding-left: 5px;
}

.footer-top{
	padding-top: 30px;
	border-top: 1px solid #ccc;
}

.footer-bottom {
    padding: 20px 0 0 0;
    font-size: 12px;
    background-color: #e0e2e5;

}

.footer-bottom .columns {
	max-width: 100%;

}

/* For devices smaller than 550px */
@media (max-width: 550px) {
	.respfooter{
	width: 40%;
	height: 200px;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 1000px) {
	.respfooter{
		width: 30.6666666667%;
		height: 200px;
	}
}

/* Larger than mobile *//*
@media (min-width: 400px) {

	.respfooter{
		width: 30.6666666667%;}
} */



/********************
ONE-COLUMN LAYOUT
********************/

/********************
TWO-COLUMN LAYOUT
********************/

/************************
PAGE-WIDE SECTION LAYOUT
************************/
.sectionseparator_a{
	background-color: #FFFFFF;
}

.sectionseparator_b{
	    background-color: #FFFFFF;
}

/************************
TUTORIAL BLOCKS
************************/

.alltutcol {
    width: 100%;
    float: left;
    box-sizing: border-box;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.alltutcol:hover {
	opacity: 0.7;
}

.alltutcol img{
	width: 100%;
}

@media (min-width: 550px) {
	.alltutcol {
		width: 25%;
		margin-right: 4.166666666667%;
		margin-left: 4.166666666667%;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #ffffff;
	}
}


/***********************
NAVIGATION BAR STYLING
***********************/
.navigation-bar{
	min-width: 100%;
	background-color: #274478;
	height: 40px;
}

/*****************************
RESPONSIVE TABLE
*****************************/
.responsive-table{
	display: block;
}

.responsive-table td{
	border-bottom: 1px solid #E1E1E1;
}

.img-responsive-table{
	display: none;
	}

.full-width-table{
	min-width: 100%;
}


@media (max-width: 1100px) {
	.responsive-table{
	display: none;
	}

	.img-responsive-table{
		display: block;
	}

}

.feedback-section{
    background: whitesmoke;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
}
