/********************
HEADER
********************/
.headerbar{
	background-color: #ffffff;
	height: 80px;
	width: 100%;
	line-height: 78px;
	display: block;
	min-width: 1080px;
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

@media (max-width: 1100px) {
	.headerbar{
	width: 100%;
	min-width: 150px;
	}
	
	.headerbar-leftside {
	margin-left: 20px;
	max-width: 100px;
	margin-right: 25px;
	}
	
	.hamburger{
	float: right;
	display: block;
	max-width: 40px;
	max-height: 30px;
    	margin-right: 40px;
	margin-top: 20px;
	}
	
	
	
}

/*************************
POP-UP MENU STYLING
**************************/
.hamburger{
	display: none;
}

#popmenufull{
	z-index: 99999;
	position: fixed;
	opacity: 0.95;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
}

.popupheader{
	display: block;
	width: 100%;
	clear: both;
	height: 80px;
}
.popupmenu{
	padding-top: 20px;
}
.close{
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 40px;
	margin-top: 20px;


/********************
CONTAINER
********************/

/********************
FOOTER
********************/
.footerarea{
    color: #69738A;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding-left: 5px; 
}

.footer-top{
	padding-top: 30px;
}

.footer-bottom {
    padding: 20px 0 0 0;
    font-size: 12px;
    background-color: #e0e2e5;

}

.footer-bottom .columns {
	max-width: 100%;
	
}

/* For devices smaller than 550px */
@media (max-width: 550px) {
	.respfooter{
	width: 40%;
	height: 200px;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 1000px) {
	.respfooter{
		width: 30.6666666667%;
		height: 200px;
	}
}

/* Larger than mobile *//*
@media (min-width: 400px) {

	.respfooter{
		width: 30.6666666667%;}
} */



/********************
ONE-COLUMN LAYOUT
********************/

/********************
TWO-COLUMN LAYOUT
********************/

/************************
PAGE-WIDE SECTION LAYOUT
************************/

/***********************
NAVIGATION BAR STYLING
***********************/
.navigation-bar{
	min-width: 100%;
	background-color: #274478;
	height: 40px;
}

/*****************************
RESPONSIVE TABLE
*****************************/
.responsive-table{
	display: block;
}

.responsive-table td{
	border-bottom: 1px solid #E1E1E1;
}

.img-responsive-table{
	display: none;
	}
	
.full-width-table{
	min-width: 100%;
}


@media (max-width: 1100px) {
	.responsive-table{
	display: none;
	}
	
	.img-responsive-table{
		display: block;
	}

}
