p{
	text-align: justify;
}
.centered{
	text-align: center;
}
.no_underline{
	text-decoration: none;
}



/**************************
HEADER STYLING
**************************/
.headerbar{
   background-color: #ffffff;
   height: 80px;
   width: 100%;
   line-height: 78px;
   display: block;
   min-width: 1080px;
}

.headerbar-leftside {
    margin-left: 70px;
    display: inline-block;
    float: left;
    max-width: 200px;
    white-space: nowrap;
    margin-right: 70px;
    height: 78px;
}

.logo {
    font-size: 26px !important;
    font-weight: 200;
    color: #447BDC;
    text-decoration: none;
}

.ploticon-plotlylogo {
    font-family: "plotlylogo";
}

.logo em {
    font-style: normal;
}

.headerbar-rightside {
    display: inline-block;
    float: right;
    margin-left: 0px;
    max-width: 500px;
    white-space: nowrap;
    margin-right: 70px;
}

.headerbar-nav {
    display: inline-block;
    vertical-align: super;
}

.headerbar-nav-item {
    color: #69738a;
    display: inline-block;
    font-size: 10pt;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Open sans",verdana,arial,sans-serif;
	text-decoration: none;
}

.headerbar a{
	text-decoration: none;
}

.button {
    background-color: #447bdc;
    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.secondary {
    background: none repeat scroll 0 0 #8c97af;
	    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover, .button.lateralmenu-item.is-active{
	background: none repeat scroll 0 0 #2d56aa;
	color: white;
}

.secondary:hover {
	background: none repeat scroll 0 0 #69738a;
	color: white;
}

.headerbar{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.headerbar-nav-item:hover, .headerbar-nav-item.lateralmenu-item.is-active{
border-bottom: 2px solid #447bdc;
color: #447bcd;
cursor: pointer
}

/*************************
FOOTER STYLING
**************************/

.footerarea{
    color: #69738A;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding-left: 5px; 
}

.footerarea h6 {
    color: #447bdc;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
    line-height: 8px;
}

.footerarea li, .footerarea a, .footerarea p{
    color: #8c97af;
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    line-height: 4px;
    margin-top: 15px;
}

.footerarea a{
	text-decoration: none;
	color: #8c97af;
}

.footerarea a:hover{
	color: #69738a;
}

.footer-top{
	padding-top: 30px;
}

.footer-bottom {
    padding: 20px 0 0 0;
    font-size: 12px;
    background-color: #e0e2e5;

}

.footer-bottom .columns {
	max-width: 100%;
	
}

.social_icon{
	color: #447bdc;
	font-size: 21px;
}

.plotly-social-media-small{
	display: inline-block;
}

.plotly-social-media-small li{
	display: inline;
	padding-right: 8px;
}


/* For devices smaller than 550px */
@media (max-width: 400px) {
.respfooter{
	width: 40%;
	height: 200px;}
}



/* Larger than mobile *//*
@media (min-width: 400px) {

	.respfooter{
		width: 30.6666666667%;}
} */

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.respfooter{
		width: 30.6666666667%;}
}


/***********************
NAVIGATION BAR STYLING
***********************/
.navigation-bar{
	min-width: 100%;
	background-color: #274478;
	height: 40px;
}

.navigation-bar p, .navigation-bar a {
    color: #dddddd;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    padding-left: 35px;
}

@media (max-width: 1100px) {
	.navigation-bar p, .navigation-bar a {
	padding-left: 12px;
	}
}


/*************************
POP-UP MENU STYLING
**************************/
.hamburger{
	display: none;
}

#popmenufull{
	z-index: 99999;
	position: fixed;
	opacity: 0.95;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
}

.popupheader{
	display: block;
	width: 100%;
	clear: both;
	height: 80px;

}

.popupheader a{
	line-height: 78px;
}

.popupmenu{
	padding-top: 20px;
}

.popupmenu li{
	list-style: none;
}

.popupmenu a{
	color: #69738a;
	text-decoration: none;
    	font-size: 40px;
    	font-weight: 150;
}
.popupmenu a:hover{
	color: #447bdc;
}

.close{
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 40px;
	margin-top: 20px;
}

/*****************************
RESPONSIVE TABLE
*****************************/
.responsive-table{
	display: block;
}

.responsive-table td{
	border-bottom: 1px solid #E1E1E1;
}

.img-responsive-table{
	display: none;
	}
	
.full-width-table{
	min-width: 100%;
}


@media (max-width: 1100px) {
	.responsive-table{
	display: none;
	}
	
	.img-responsive-table{
		display: block;
	}
	
	.hidesmall{
	display: none
	}
	
	.headerbar{
	width: 100%;
	min-width: 150px;
	}
	
	.headerbar-leftside {
	margin-left: 20px;
	max-width: 100px;
	margin-right: 25px;
	}

	.hamburger{
	float: right;
	display: block;
	max-width: 40px;
	max-height: 30px;
    	margin-right: 40px;
	margin-top: 20px;
	}

}

@media (min-width: 700px) {
	.nowraptitle{
		    white-space: nowrap;
	}
}
