p{
	text-align: justify;
}
/**************************
HEADER STYLING
**************************/
.headerbar{
   background-color: #ffffff;
   height: 80px;
   width: 100%;
   line-height: 78px;
   display: block;
   min-width: 1080px;
}

.headerbar-leftside {
    margin-left: 70px;
    display: inline-block;
    float: left;
    max-width: 200px;
    white-space: nowrap;
    margin-right: 70px;
}

.logo {
    font-size: 26px !important;
    font-weight: 200;
    color: #447BDC;
    text-decoration: none;
}

.ploticon-plotlylogo {
    font-family: "plotlylogo";
}

.logo em {
    font-style: normal;
}

.headerbar-rightside {
    display: inline-block;
    float: right;
    margin-left: 0px;
    max-width: 500px;
    white-space: nowrap;
    margin-right: 70px;
}

.headerbar-nav {
    display: inline-block;
    vertical-align: super;
}

.headerbar-nav-item {
    color: #69738a;
    display: inline-block;
    font-size: 10pt;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Open sans",verdana,arial,sans-serif;
	text-decoration: none;
}

.headerbar a{
	text-decoration: none;
}

.btn {
    background-color: #447bdc;
    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.secondary {
    background: none repeat scroll 0 0 #8c97af;
	    border: medium none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5px;
    padding: 5px 1em;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn:hover, .btn.lateralmenu-item.is-active{
	background: none repeat scroll 0 0 #2d56aa;
	color: white;
}

.secondary:hover {
	background: none repeat scroll 0 0 #69738a;
	color: white;
}

.headerbar{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.headerbar-nav-item:hover, .headerbar-nav-item.lateralmenu-item.is-active{
border-bottom: 2px solid #447bdc;
color: #447bcd;
cursor: pointer
}

/*************************
FOOTER STYLING
**************************/

.footerarea{
	color: #69738A;
}

.footerarea h6 {
    color: #447bdc;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

.footerarea li{
    color: #8c97af;
    font-size: 12px;
    font-weight: 400;
	list-style: none;
	line-height: 12px;
    font-family: "Open sans",verdana,arial,sans-serif;
}

.footerarea a{
	text-decoration: none;
	color: #8c97af;
}

.footerarea a:hover{
	color: #69738a;
}

.footer-top{
	padding-top: 30px;
	border-top: 1px solid #cccccc;
}

.footer-bottom {
    padding: 20px 0 0 0;
    font-size: 12px;
    background-color: #f3f3f3;
}

.footerarea .columns{
	margin-left: 10px;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
	.footerarea .columns{
		margin-left: 0;}
}
