/* Page Styling */
.centered{
	text-align: center;
}

.totpadding{
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 80px;
}

.paddingbottom{
	padding-bottom: 40px;
}

img{
	min-width: 100%;
}

.sectionbg{
    background-color: #F3F3F3;
	width: 100%;
}

.sectionseparator{
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.sectionseparator li{
	list-style: none;
	font-size: 12px;
	text-decoration: none;
	color: #8c97af;
}

.sectionseparator a:hover, .sectionseparator a:hover{
	color: #69738a;
}


/* API Clients Section */
#matlabText{
	background-img: url('http://i.imgur.com/FGTe7SD.png');
}

#pyText{
	background-img: url('http://i.imgur.com/AyXLtfa.png');
}

#rText{
	background-img: url('http://i.imgur.com/xapt1aB.png');
}

.projectblock{
	padding: 10px;
}

.transparency{
	text-align: left;
	padding: 20px;
	z-index: 999999;
}
.transparency p{
	text-align: left;
}


/* Button Styling */

#loadMore, #loadMore a, #loadMore a:hover, #exploreMore, #exploreMore a, #loadMore a:hover{
	display: block;
	clear: both;
	color: #ffffff;
	text-align: center;

}

#loadMore, #exploreMore{

    margin-left: 1%;
    margin-right: 1%;
}


@media (min-width: 550px) {
	.projectblock, .transparency{
	    height: 200px;
	}
	.projectblock h6{
	margin-bottom:0;
	padding-top: 10px;
	}
	#loadMore, #exploreMore{
	margin-left: 33.6667%;
	}
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	.projectblock, .transparency{
	    min-height: 250px;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {
	.projectblock, .transparency{
	    height: 350px;
	}
	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.projectblock, .transparency{
	    height: 350px;
	}
	
}
