---
title: Plotly Tutorials
---

<!DOCTYPE html>
<html>
    <head>
    	<!-- Fonts -->
	  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
          <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
          <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    	
    	<!-- Stylesheets -->
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  	  <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
  	  <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/all-tutorials-fix.css">
          
  	<!-- Icon -->
          <link rel="shortcut icon" href="/images/plotly-ico.png" type="image/x-icon" />
          
          <title>Plotly</title>
          <meta name="description" content="Collaborative Data Science" />
  	  {% include seo.html %}
  	
  	
  	<style>
		#myList li{ display:none;
		list-style: none; }

	</style>
	</head>


  {% include new_header.html %}

  <body>

	<div class="sectionseparator_a">
		<div class="bigcontainer">
			<h1 class="centered" id="alltutorialsect">PLOTLY TUTORIALS</h1>
			
			<div class="row centered">
        			<a class="button no_underline" href="#basic">Basic</a>
        			<a class="button no_underline" href="#statistical">Statistical</a>
        			<a class="button no_underline" href="#graph3d">3D</a>
        			<a class="button no_underline" href="#textandlinks">Text &amp; Links</a>
        			<a class="button no_underline" href="#classroom">Classroom</a>
        			<a class="button no_underline" href="#videos">Videos</a>
        			<a class="button no_underline" href="#excel">Excel</a>
				
			</div>
			
				<div class="row grid_three_area">
						<a class="tutorialsect_title" href="#basic" name="basic" id="basic"><h2>Basic</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
								{% if page.state == 'active' and page.tags contains 'basic' %}
									<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
									<div> 
										{% if page.imageurl == "" or page.imageurl == nil %}
											<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
										{% else %}
											<img src="{{page.imageurl}}" alt="Tutorial">
										{% endif %}
											<div class="titlecenter">
												<h5 class="centered"> {{page.title}} </h5>
											</div>
									</div></a></li>
								{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>	
	</div>
	<div class="sectionseparator_b">
		<div class="bigcontainer">
				<div class="row grid_three_area">
						<a class="tutorialsect_title" href="#statistical" name="statistical" id="statistical"><h2>Statistical</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
								{% if page.state == 'active' and page.tags contains 'statistical' %}
									<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
									<div> 
										{% if page.imageurl == "" or page.imageurl == nil %}
											<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
										{% else %}
											<img src="{{page.imageurl}}" alt="Tutorial">
										{% endif %}
										<div class="titlecenter">
											<h5 class="centered"> {{page.title}} </h5>
										</div>
									</div></a></li>
								{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>
	<div class="sectionseparator_a">
		<div class="bigcontainer">

				<div class="row grid_three_area">
						<a class="tutorialsect_title" href="#graph3d" name="graph3d" id="graph3d"><h2>3D</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
								{% if page.state == 'active' and page.tags contains 'graph3d' %}
									<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
									<div> 
										{% if page.imageurl == "" or page.imageurl == nil %}
											<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
										{% else %}
											<img src="{{page.imageurl}}" alt="Tutorial">
										{% endif %}
											<div class="titlecenter">
												<h5 class="centered"> {{page.title}} </h5>
											</div>
									</div></a></li>
								{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>
	<div class="sectionseparator_b">
		<div class="bigcontainer">

				<div class="row grid_three_area">
						<a class="tutorialsect_title" href="#textandlinks" name="textandlinks" id="textandlinks"><h2>Text &amp; Links</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
								{% if page.state == 'active' and page.tags contains 'textandlinks' %}
									<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
									<div> 
										{% if page.imageurl == "" or page.imageurl == nil %}
											<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
										{% else %}
											<img src="{{page.imageurl}}" alt="Tutorial">
										{% endif %}
											<div class="titlecenter">
												<h5 class="centered"> {{page.title}} </h5>
											</div>
									</div></a></li>
								{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>
	<div class="sectionseparator_a">
		<div class="bigcontainer">
				<div class="row grid_three_area">
						<a class="tutorialsect_title" href="#classroom" name="classroom" id="classroom"><h2>Classroom</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
							{% if page.state == 'active' and page.tags contains 'classroom' %}
								<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
								<div> 
									{% if page.imageurl == "" or page.imageurl == nil %}
										<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
									{% else %}
										<img src="{{page.imageurl}}" alt="Tutorial">
									{% endif %}
										<div class="titlecenter">
											<h5 class="centered"> {{page.title}} </h5>
										</div>
								</div></a></li>
							{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>
	<div class="sectionseparator_b">
		<div class="bigcontainer">
				<div class="row grid_three_area">
						<a class="tutorialsect_title" ref="videos" name="videos" id="videos"><h2>Videos</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
							{% if page.state == 'active' and page.tags contains 'videos' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">
								<div > 
									{% if page.imageurl == "" or page.imageurl == nil %}
										<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
									{% else %}
										<img src="{{page.imageurl}}" alt="Tutorial">
									{% endif %}
										<div class="titlecenter">
											<h5 class="centered"> {{page.title}} </h5>
										</div>
								</div></a></li>
							{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>
	<div class="sectionseparator_a">
		<div class="bigcontainer">
				<div class="row grid_three_area">
						<a class="tutorialsect_title" ref="excel" name="excel" id="excel"><h2>Excel</h2></a>
						<div class="grid_three">
						<ul>
							{% for page in site.posts %}
							{% if page.state == 'active' and page.tags contains 'excel' %}
								<li class="no-break"><a href="http://help.plot.ly/{{page.permalink}}">
								<div> 
									{% if page.imageurl == "" or page.imageurl == nil %}
										<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
									{% else %}
										<img src="{{page.imageurl}}" alt="Tutorial">
									{% endif %}
										<div class="titlecenter">
											<h5 class="centered"> {{page.title}} </h5>
										</div>
								</div></a></li>
							{% endif %}
							{% endfor %}
						</ul>
						</div>
				</div>
		</div>
	</div>





	{% include new_footer.html %}  
	<!-- Load More Buttons -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="/javascripts/loadmore.js"></script>
  	<script src="/javascripts/explorelist.js"></script>

  </body>

</html>
