<!DOCTYPE html>
<html>
    <head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/all-tutorials-stylesheet.css">
          <link rel="shortcut icon" href="http://i.imgur.com/9FahkKk.png" type="image/x-icon" />
    </head>
  
  
  {% include new_header.html %}

  <body>

        <div class="bigcontainer" >
        	<div class="container paddingbottom">
	        	<h1 class="centered">{{page.title}}</h1>
	        	<h2 class="centered">{{page.subtitle}}</h2>
		</div>
		<div class="row"> 

			<div class="four columns thumpad"> 
				<a href="#tutorialsect">
				<img src="http://i.imgur.com/OxZfJ3U.png"/>
				<h5> Web App </h5>
				</a>
			</div>
			<div class="four columns thumpad"> 
				<a href="https://plot.ly/api/">
				<img src="http://i.imgur.com/5YEkTgO.png" />
				<h5> APIs </h5>
				</a>
			</div>
			<div class="four columns thumpad">
				<a href="https://plot.ly/workshop/">
				<img src="http://i.imgur.com/FCI2Xcy.png">
				<h5> Hardware</h5>
				</a>
			</div>
		</div>
		

	</div>
	
    <div class="sectionbg ">
	<div class="container">
		<div class="sectionseparator totpadding">
			<h2 class="centered" id="tutorialsect">PLOTLY TUTORIALS</h2>
				<div class="row">
					{% assign postcount = 6 %}
					{% for page in site.posts limit: 6 %}
						{% if page.state == 'active' %}
							<a href="http://help.plot.ly/{{page.permalink}}">
							<div class="thumpad alltutcol tutblocks"> 
								<img src="{{page.imageurl}}">
								<p> {{page.title}} </p>
							</div></a>
							{% increment postcount 6 %}
						{% endif %}
	        			{% endfor %}
	        			
	        			On click:
	        			{% for page in site.posts limit: postcount offset: postcount %}
	        				{% if page.state == 'active' %}
							<a href="http://help.plot.ly/{{page.permalink}}">
							<div class="thumpad alltutcol tutblocks"> 
								<img src="{{page.imageurl}}">
								<p> {{page.title}} </p>
							</div></a>
						{% endif %}
	        			{% endfor %}
	        			
				</div>
		</div>
	
		<div class="sectionseparator totpadding">
				<h2 class="centered">Projects</h2>
				<h3 class="centered">In need of inspiration? See what Plot.ly can do!</h3>
				<div class="row">
					{% for page in site.posts %}
						<div class="thumpad alltutcol projectblock"> 
							<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890"> 
							<p> {{page.title}} </p>
						</div>
	        			{% endfor %}
				</div>
		</div>
	

		<div class="sectionseparator totpadding">
				<h2 class="centered">Explore</h2>

				<div class="row">
					<div class="two columns">
						<h6>Basic</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'basic' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
					</div>
					<div class="two columns">
						<h6>Statistical</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'statistical' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
					</div>
					<div class="two columns">
						<h6>3D</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'graph3d' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
					</div>
					<div class="two columns">
						<h6>Text & Links</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'textandlinks' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
					</div>
					<div class="two columns">
						<h6>Classroom</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'classroom' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
					</div>
					<div class="two columns">
						<h6>Videos</h6>
						{% for page in site.posts %}
							{% if page.tags contains 'videos' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a> </li>
							{% endif %}
		        			{% endfor %}
					</div>


				</div>
		</div>
	</div>
    </div>
  

  </body>
  {% include new_footer.html %}
</html>
