<!DOCTYPE html>
<html>
    <head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/all-tutorials-stylesheet.css">
          <link rel="shortcut icon" href="http://i.imgur.com/9FahkKk.png" type="image/x-icon" />
          
          <title>Plotly</title>
          <meta name="description" content="Collaborative Data Science" />
  	</head>
  	
  	    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
  	<style>
		#myList li{ display:none;
		list-style: none; }
		
		.explorelista li, .explorelistb li, .explorelistc li, .explorelistd li, .exploreliste li, .explorelistf li, .explorelistg li { display:none;
		list-style: none; }
		

	</style>


  
  {% include new_header.html %}

  <body>

        <div class="bigcontainer" >
        	<div class="container paddingbottom">
	        	<h1 class="centered">{{page.title}}</h1>
	        	<h2 class="centered">{{page.subtitle}}</h2>
		</div>
		<div class="row"> 

			<div class="four columns thumpad"> 
				<a href="#tutorialsect">
				<img src="http://i.imgur.com/OxZfJ3U.png" alt="web app" />
				<h3 class="centered"> Web App </h3>
				</a>
			</div>
			<div class="four columns thumpad"> 
				<a href="https://plot.ly/api/">
				<img src="http://i.imgur.com/5YEkTgO.png" alt="APIs" />
				<h3 class="centered"> APIs </h3>
				</a>
			</div>
			<div class="four columns thumpad">
				<a href="https://plot.ly/workshop/">
				<img src="http://i.imgur.com/FCI2Xcy.png" alt="Hardware" />
				<h3 class="centered"> Hardware</h3>
				</a>
			</div>
		</div>
		

	</div>
	
    <div class="sectionbg ">
	<div class="container">
		<div class="sectionseparator totpadding">
			<h2 class="centered" id="tutorialsect">PLOTLY TUTORIALS</h2>
				<div class="row">
					<ul id="myList">
					{% for page in site.posts limit: 100 %}
						{% if page.state == 'active' %}
							<li><a href="http://help.plot.ly/{{page.permalink}}">
							<div class="thumpad alltutcol tutblocks"> 
								{% if page.imageurl == "" or page.imageurl == nil %}
									<img src="http://i.imgur.com/QstxYEf.png" alt="Tutorial" />
								{% else %}
									<img src="{{page.imageurl}}" alt="Tutorial">
								{% endif %}
									<h5 class="centered"> {{page.title}} </h5>
							</div></a></li>
						{% endif %}
	        			{% endfor %}
	        			</ul>
				<div id="loadMore" class="four columns"  >
        				<a class="btn">
						Load More
					 </a>
				</div>
				</div>

	
		<div class="sectionseparator totpadding">
				<h2 class="centered">Projects</h2>
				<h3 class="centered">In need of inspiration? See what Plot.ly can do!</h3>
				<div class="row">
					{% for page in site.posts limit:6 %}
						<div class="thumpad alltutcol projectblock"> 
							<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890" alt="Project"> 
							<h6 class="centered"> {{page.title}} </h6>
						</div>
	        			{% endfor %}
				</div>
		</div>
	

		<div class="sectionseparator totpadding">
				<h2 class="centered">Explore</h2>

				<div class="row">
					<div class="two columns">
						<h6>Basic</h6>
						<ul class="explorelista">
						{% for page in site.posts %}
							{% if page.tags contains 'basic' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
		        			</u>
					</div>
					<div class="two columns">
						<h6>Statistical</h6>
						<ul class="explorelistb">
						{% for page in site.posts %}
							{% if page.tags contains 'statistical' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
		        			</ul>
					</div>
					<div class="two columns">
						<h6>3D</h6>
						<ul class="explorelistc">
						{% for page in site.posts %}
							{% if page.tags contains 'graph3d' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
		        			</ul>
					</div>
					<div class="two columns">
						<h6>Text &amp; Links</h6>
						<ul class="explorelistd">
						{% for page in site.posts %}
							{% if page.tags contains 'textandlinks' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
		        			</ul>
					</div>
					<div class="two columns">
						<h6>Classroom</h6>
						<ul class="exploreliste">
						{% for page in site.posts %}
							{% if page.tags contains 'classroom' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a></li>
							{% endif %}
		        			{% endfor %}
		        			</ul>
					</div>
					<div class="two columns">
						<h6>Videos</h6>
						<ul class="explorelistf">
						{% for page in site.posts %}
							{% if page.tags contains 'videos' %}
								<li><a href="http://help.plot.ly/{{page.permalink}}">{{page.title}}</a> </li>
							{% endif %}
		        			{% endfor %}
		        			</ul>
					</div>
				<div id="exploreMore" class="four columns"  >
        				<a class="btn">
						Load More
					 </a>
				</div>


				</div>
		</div>
	</div>
    </div>
	{% include new_footer.html %}  
	<!-- Load More Buttons -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="/javascripts/loadmore.js"></script>
  	<script src="/javascripts/explorelist.js"></script>

  </body>

</html>
