<!DOCTYPE html>
<html>
    <head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/all-tutorials-stylesheet.css">
    </head>
  
  
  {% include new_header.html %}

  <body>

        <div class="bigcontainer" >
        	<div class="container paddingbottom">
	        	<h1 class="centered">{{page.title}}</h1>
	        	<h2 class="centered">{{page.subtitle}}</h2>
		</div>
		<div class="row"> 

			<div class="four columns thumpad"> 
				<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890"> 
				<p> Section Title </p>
			</div>
			<div class="four columns thumpad"> 
				<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890"> 
				<p> Section Title </p>
			</div>
			<div class="four columns thumpad">
				<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890">
				<p> Section Title </p>
			</div>					
		</div>
		

	</div>
	
    <div class="sectionbg ">
	<div class="container">
		<div class="sectionseparator totpadding">
			<h2 class="centered">PLOTLY TUTORIALS</h2>
				<div class="row">
					{% for page in site.posts %}
						{% if page.state == 'active' %}
							<div class="thumpad alltutcol"> 
								<img src="{{page.imageurl}}">
								<p> {{page.title}} </p>
							</div>
						{% endif %}


	        			{% endfor %}
				</div>
		</div>
	
		<div class="sectionseparator totpadding">
				<h2 class="centered">Projects</h2>
				<h3 class="centered">In need of inspiration? See what Plot.ly can do!</h3>
				<div class="row">
					{% for page in site.posts %}
						<div class="thumpad alltutcol"> 
							<img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/medium/elk---twitter.png?1428343890"> 
							<p> {{page.title}} </p>
						</div>
	        			{% endfor %}
				</div>
		</div>
	

		<div class="sectionseparator totpadding">
				<h2 class="centered">Explore</h2>

				<div class="row">

						{% for page in site.posts %}
							<div class="two columns">
								<li> {{page.title}} </li>
							</div>
		        			{% endfor %}

				</div>
		</div>
	</div>
    </div>
  

  </body>
  {% include new_footer.html %}
</html>
