<!DOCTYPE html>
<html>
<head>
        {% include google-tag-head.html %}
        {% include drift-tag.html %}


    <script async="" src="/browser-sync/browser-sync-client.2.11.1.js"></script>
    <!-- META TAGS -->
    {% include seo.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--hello-->
    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700"
          rel="stylesheet" type="text/css">


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://images.plot.ly/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{site.stylesheet}}">

    <!--[if IE]-->
    <style>
        .excel-logo {
            bottom: 80%;
        }
    </style>
    <!--[end if]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".watch" style="position:relative;">
        {% include google-tag-body.html %}

<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Navigation -->
{% include _new/_page-components/_header-main.html %}
<section class="--breadcrumb-container">
    <div class="--wrap">
        <a href="#" class="toggle-sidebar">
            <div class="icon">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000"
                          d="M5,13L9,17L7.6,18.42L1.18,12L7.6,5.58L9,7L5,11H21V13H5M21,6V8H11V6H21M21,16V18H11V16H21Z"/>
                </svg>
            </div>
            <span class="show">Show Sidebar</span>
            <span class="hide">Hide Sidebar</span>

        </a>
        <ul class="--breadcrumb-list">
            <li class="--breadcrumb-item">
                <div class="icon">
                    <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                        <path fill="#000000"
                              d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z"></path>
                    </svg>
                </div>
                <a href="https://help.plot.ly/"><span>Help</span></a>
            </li>
            <li class="--breadcrumb-item "><a href="/excel/"><span>Chart Studio Excel Tutorials</span></a></li>
            <li class="--breadcrumb-item --current"><span>{{page.title}}</span></li>

        </ul>
        <div class="--fork"><a href="https://github.com/plotly/">
            <div class="icon">
                <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                    <path fill="#000000"
                          d="M2.6,10.59L8.38,4.8L10.07,6.5C9.83,7.35 10.22,8.28 11,8.73V14.27C10.4,14.61 10,15.26 10,16A2,2 0 0,0 12,18A2,2 0 0,0 14,16C14,15.26 13.6,14.61 13,14.27V9.41L15.07,11.5C15,11.65 15,11.82 15,12A2,2 0 0,0 17,14A2,2 0 0,0 19,12A2,2 0 0,0 17,10C16.82,10 16.65,10 16.5,10.07L13.93,7.5C14.19,6.57 13.71,5.55 12.78,5.16C12.35,5 11.9,4.96 11.5,5.07L9.8,3.38L10.59,2.6C11.37,1.81 12.63,1.81 13.41,2.6L21.4,10.59C22.19,11.37 22.19,12.63 21.4,13.41L13.41,21.4C12.63,22.19 11.37,22.19 10.59,21.4L2.6,13.41C1.81,12.63 1.81,11.37 2.6,10.59Z"></path>
                </svg>
            </div>
            <span>Fork on GitHub</span></a></div>
    </div>
</section>

<main class="--page page--single --index">

    <div class="--wrap">
        <!-- aside - Main Sidebar-->
        <aside class="--sidebar-container">
            <div class="--sidebar-fixed reference affix" data-spy="affix" data-offset-bottom="610" id="where">
                <header class="--sidebar-header">Steps</header>
                <nav class="--sidebar-body watch" id="where">
                    <ul class="--sidebar-list">
                        <!-- Injected with js-->
                    </ul>

                    {% include meta-tutorial-links.html %}

                    <button class="--btn back">
                        <div class="icon">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                      d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z"/>
                            </svg>
                        </div>
                        <span><a href="/excel/">Back to Excel Tutorials</a></span>
                    </button>
                </nav>
            </div>
        </aside>
        <!-- Main-->
        <section class="--page-body --tutorial-index">
            <header class="--welcome">
                <div class="--welcome-body">
                    <div class="--title">
                        <div class="--category-img">
                            <img src="https://images.plot.ly/logo/new-branding/plotly-logomark.png" alt="">
                        </div>
                        <div class="--body">
                            <h1>{{page.title}}</h1>
                            <p>{{page.subtitle}} </p>
                        </div>
                    </div>
                </div>
            </header>

            <section class="tutorial-content">
                <div class="live-plot">{{ page.live-graph }}</div>

                {% for step in page.steps %}

                <div class="tutorial--step">
                    <div class="tutorial--step-header">
                        <div class="step--number">
                          <div class="box">
                              Step {{ forloop.index }}
                          </div>
                        </div>
                        <div class="step--title">
                            <h3 class="step--title-text js--step-anchor" id="step-{{ forloop.index }}-{{ step.title | slugify: 'pretty' }}">{{ step.title }}</h3>

                            <div class="icon copy js--copy-id" data-tooltip="Click to copy direct link!">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" />
                                </svg>
                            </div>
                        </div>
                    </div>


                {% for content in step.sub-steps %}
                <p class="step--content">{{ content.copy | escape | markdownify }}</p>
                {% if content.img %}
                <div class="step--image">{{ content.img | markdownify }}</div>
                {% endif %}
                {% if content.video %}
                <div class="step--video">{{ content.video }}</div>
                {% endif %}
                {% endfor %}
                {% endfor %}
                </div>
            </section>

        </section>
    </div>
</main>
{% include help-box.html %}

{% include _new/_page-components/_footer-main.html %}


<script src="//images.plot.ly/assets/js/ZeroClipboard.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/tutorial-single.scripts.js"></script>

</body>

</html>
