---
title: Plotly Excel
---
<!DOCTYPE html>
<html>
    <head>
    <!-- META TAGS -->
    {% include seo.html %}

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">


    <!--[if IE]>
      <style>
        .excel-logo{
          bottom: 80%;
        }
      </style>
    <!--[end if]-->
    </head>


    {% include new_header.html %}

    <body>

    <div class="sectionseparator_a">
      <div class="bigcontainer">
          <div class="row">
              <a class="tutorialsect_title" ref="excel" name="excel" id="excel"><h2>Excel</h2></a>
              <ul>
                {% for page in site.posts %}
                {% if page.state == 'active' and page.tags contains 'excel' %}
                  <li class="no-margin-b"><a href="http://help.plot.ly{{page.permalink}}">
                  <div class="alltutcol">
                    <div class="container-excel">
                      {% if page.imageurl == "" or page.imageurl == nil %}
                        <img src="/images/default.png" class="container-pic-excel" alt="Tutorial" />
                      {% else %}
                        <img src="{{page.imageurl}}"  class="container-pic-excel" alt="Tutorial">
                      {% endif %}
                      <img src="/images/Excel_logo.png"  class="excel-logo" alt="excel logo">
                    </div>
                    <div class="titlecenter">
                      <h5 class="centered"> {{page.title}} </h5>
                    </div>
                  </div></a></li>
                  <div class="{% cycle 'group 8': '', '', 'three-column-clear' %}"></div>
                {% endif %}
                {% endfor %}
              </ul>
          </div>
      </div>
    </div>

    {% include new_footer.html %}
    <!-- Load More Buttons -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/javascripts/loadmore.js"></script>
    <script src="/javascripts/explorelist.js"></script>

   </body>

</html>
