<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- META TAGS -->
    {% include seo.html %}

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>

    <!-- Print Style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

  </head>
  {% include new_header.html %}
  {% include navigation_bar.html %}
  <!-- {% include make_chart_button.html %} -->
  <body>
     <div class="page__tutorial-single">
        <div class="content">
  {% include aside-steps.html %}

            <main>
              <h1>{{page.title}}</h1>
            {% include breadcrumb.html %}

            {% include meta-tutorial-links.html %}


              <div class="wrap">
                          <div class="live-plot">{{ page.live-graph }}</div>
                    {% for step in page.steps %}
                      <article id="step-0{{ forloop.index }}">
                          <h2>Step {{ forloop.index }}</h2>
                          <h3>{{ step.title }}</h3>
                    {% for content in step.sub-steps %}
                         <p>{{ content.copy | escape | markdownify }}</p>
                         {% if content.img %}
                           <div class="img">{{ content.img | markdownify }}</div>
                          {% endif %}
                        {% if content.video %}
                           <div class="img">{{ content.video }}</div>
                          {% endif %}
                       {% endfor %}
                  </article>
              {% endfor %}
</div>


{% include similar-tutorials.html %}
{% include help-box.html %}
</main>
<div class="clear"></div>
</div>
</div>
{% include new_footer.html %}

      {% include scripts-tutorial-single.html %}
  </body>
</html>
