<!DOCTYPE html>
<html>
  <head>
    
    <!-- Fonts -->
	  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css" />
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
    
    <!-- Icon and fonts -->
     <link rel="shortcut icon" href="/images/plotly-ico.png" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    <!-- Meta Tags -->
    <title>Plotly - {{page.title}}</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.subtitle}}">
    <meta name="image" content="{{page.imageurl}}">
          
          
  </head>
  {% include new_header.html %}
  {% include navigation_bar.html %}
  
  <body>
  <div class="container">
    

    <div>
      <div>
        <section>

      
          {{ content }}
  
        </section>
      </div>
    </div>
  </div>
    {% include new_footer.html %}
  </body>
</html>
