<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
   <link rel="shortcut icon" href="http://i.imgur.com/9FahkKk.png" type="image/x-icon" />
   <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
   
         <title>Plotly</title>
          <meta name="description" content="Collaborative Data Science" />
          
          <title>{{ metatags.title|striptags }}</title>
    <meta name="description" content="{{ metatags.description|striptags }}">
    
    <!-- Bing tags -->
    <meta name="msvalidate.01" content="D319859A832F9F1D15A7646E2A42150A" />
    <!-- /Bing tags -->
    
    <!-- Facebook tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ metatags.title|striptags }}" />
    <meta property="og:image" content="{{ metatags.image }}">
    <meta property="og:description" content="{{ metatags.description|striptags }}" />
    <meta property="og:url" content="{{ metatags.url }}" />
    <meta property="fb:admins" content="1123751525"/>
    <meta property="fb:admins" content="22418"/>
    <!--/ Facebook tags -->
    
    <!-- twitter tags -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="{{ metatags.title|striptags }}"/>
    <meta name="twitter:image" content="{{ metatags.image }}"/>
    <meta name="twitter:description" content="{{ metatags.description|striptags }}"/>
    <meta name="twitter:url" content="{{ metatags.url }}"/>
    <meta name="twitter:site" content="@plotlygraphs"/>
    <!--/ twitter tags -->
          
          
          
  </head>
  {% include new_header.html %}
  
  <body>
  <div class="container">
    

    <div>
      <div>
        <section>
      
          {{ content }}
  
        </section>
      </div>
    </div>
  </div>
    {% include new_footer.html %}
  </body>
</html>
