<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/two_col_stylesheet.css">
    <link rel="shortcut icon" href="http://i.imgur.com/9FahkKk.png" type="image/x-icon" />
    
          <title>Plotly</title>
          <meta name="description" content="Collaborative Data Science" />
  </head>
  {% include new_header.html %}
  
  <body>
  <div class="container">
    <header>
      <div>
        <h1>{{page.title}}</h1>
        <h2>{{page.subtitle}}</h2>
      </div>
    </header>

    <div>
      <div>
        <section>
      
          {{ content }}
  
        </section>
      </div>
    </div>
  </div>
  </body>
  {% include new_footer.html %}
</html>
