<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/two_col_stylesheet.css">
    <link rel="shortcut icon" href="http://i.imgur.com/9FahkKk.png" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css" />
  	
    
          <title>Plotly</title>
          <meta name="description" content="Collaborative Data Science" />
  </head>
  {% include new_header.html %}
  {% include navigation_bar.html %}
  
  <body>
  <div class="container">
    <div>
      <div>
        <section>
      
          {{ content }}
  
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    {% include feedback_section.html %}
  </div>
  {% include new_footer.html %}
  
  </body>
</html>
