<!DOCTYPE html>
<html>
  <head>
      {% include google-tag-head.html %}
      {% include drift-tag.html %}
      <script async="" src="/browser-sync/browser-sync-client.2.11.1.js"></script>


    <!-- META TAGS -->
    {% include seo.html %}

    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/plotly_icons.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300,200|Inconsolata|Ubuntu+Mono:400,700" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout_block.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/state.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/two_col_stylesheet.css">


  </head>
  {% include new_header.html %}
  {% include hero_sign_up.html %}
  {% include navigation_bar.html %}
  {% include make_chart_button.html %}
  <body>
      {% include google-tag-body.html %}

  <div class="container">
    <div>
      <div>
        <section>

          {{ content }}

        </section>
      </div>
    </div>
  </div>
  <div class="container">
    {% include feedback_section.html %}
  </div>
  {% include new_footer.html %}

  </body>
</html>
