@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(_old/layout_block.css);
@import url(_old/plotly_icons.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  body main.--page {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    body main.--page > .--wrap {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
    body main.--page .--page-body {
      width: -webkit-calc(100% - 220px);
      width: calc(100% - 220px); }
    body main.--page.--tutorial-index {
      margin-top: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a:link:not(.button) {
  display: inline-block;
  position: relative;
  opacity: 0.8;
  color: currentColor; }
  a:link:not(.button)::before {
    width: 100%;
    content: '';
    position: absolute;
    top: 100%;
    background: currentColor;
    height: 1px;
    left: 0;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    opacity: 0.5;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0; }

a:hover {
  opacity: 1 !important;
  text-decoration: none;
  color: #447bdc !important; }
  a:hover::before {
    -webkit-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

.header-large--wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: whitesmoke; }
  .header-large--wrap p a {
    color: whitesmoke; }
  .header-large--wrap .header--blue-bg {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(100, 91, 158, 0.89)), to(rgba(58, 124, 187, 0.89)));
    background-image: -webkit-linear-gradient(bottom, rgba(100, 91, 158, 0.89) 0%, rgba(58, 124, 187, 0.89) 100%);
    background-image: linear-gradient(0deg, rgba(100, 91, 158, 0.89) 0%, rgba(58, 124, 187, 0.89) 100%);
    width: 100%;
    height: 100%; }
    .header-large--wrap .header--blue-bg .--image {
      background-image: url("http://images.plot.ly/excel/plotlyjs/plotlyjs-banner-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
      background-position: center top;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      opacity: 0.5;
      mix-blend-mode: multiply; }
    .header-large--wrap .header--blue-bg .header--meta-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      z-index: 2;
      font-size: 2.3rem;
      color: white;
      max-width: 1120px;
      margin: 0 auto;
      width: 80%;
      margin-top: 80px;
      padding: 30px;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header-large--wrap .header--blue-bg .header--meta-content p {
        display: block;
        text-align: center; }
      .header-large--wrap .header--blue-bg .header--meta-content .github-star {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 10px 0; }

.header-large--wrap + header.header-main.--default, .header-large--wrap + header.header-main.--default.affix {
  color: white !important;
  background: transparent;
  border-bottom: 0; }
  .header-large--wrap + header.header-main.--default .-identity {
    color: white !important; }
  .header-large--wrap + header.header-main.affix.--default {
    border-bottom: 1px solid #e7e7e7; }
    .header-large--wrap + header.header-main.affix.--default .-identity {
      color: #447bdc !important; }
  .header-large--wrap + header.header-main.--default a:link, .header-large--wrap + header.header-main.--default a:visited, .header-large--wrap + header.header-main.--default a:active {
    color: currentColor !important; }

header .-identity {
  color: #447bdc; }

header.header-main {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  height: 80px; }
  header.header-main * {
    text-decoration: none !important; }
  header.header-main.--white {
    color: white !important;
    border-bottom: 0; }
    header.header-main.--white a:link, header.header-main.--white a:visited, header.header-main.--white a:active {
      color: currentColor !important;
      text-decoration: none !important; }
  header.header-main.--default, .header-large--wrap + header.header-main.--default.affix {
    color: #626262 !important;
    background-color: #fff; }
    header.header-main.--default a:not(.button):link, header.header-main.--default a:not(.button):visited, header.header-main.--default a:not(.button):active {
      color: currentColor !important; }
  header.header-main .--wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0;
    font-weight: 300; }
    header.header-main .--wrap .--wrap-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    header.header-main .--wrap .-identity {
      width: 125px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      header.header-main .--wrap .-identity::before {
        display: none !important; }
      header.header-main .--wrap .-identity a.logo {
        max-width: 60px;
        width: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
      header.header-main .--wrap .-identity h1 {
        display: inline;
        font-weight: 100;
        padding: 10px;
        font-size: 1.8rem; }
      header.header-main .--wrap .-identity div.logo {
        max-width: 50px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        margin: 0;
        padding: 0; }
        header.header-main .--wrap .-identity div.logo svg rect {
          fill: currentColor; }
    header.header-main .--wrap nav {
      font-size: 1.2rem; }
      header.header-main .--wrap nav ul {
        list-style-type: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0; }
        header.header-main .--wrap nav ul li {
          padding: 5px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center; }
      header.header-main .--wrap nav.--item {
        color: currentColor; }
    header.header-main .--wrap .--nav-site ul li {
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      header.header-main .--wrap .--nav-site ul li .--item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        header.header-main .--wrap .--nav-site ul li .--item .icon {
          position: absolute;
          top: 0;
          right: -20px;
          margin-top: -3px;
          margin-left: -3px;
          -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
          transform: scale(0.75); }
          header.header-main .--wrap .--nav-site ul li .--item .icon svg path {
            fill: currentColor; }
      header.header-main .--wrap .--nav-site ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    header.header-main .--wrap .button {
      display: inline-block;
      padding: 5px 10px;
      position: relative;
      font-size: 1rem;
      letter-spacing: 0.5px;
      font-weight: 400; }
      header.header-main .--wrap .button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid currentColor;
        opacity: 0.3;
        -webkit-border-radius: 6px;
        border-radius: 6px; }
      header.header-main .--wrap .button:hover {
        text-decoration: none; }
        header.header-main .--wrap .button:hover::before {
          border-color: currentColor !important;
          opacity: 1; }
    header.header-main .--wrap .-hamburger-btn {
      display: none; }

.--footer-main {
  position: relative;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }
  .--footer-main .--footer-top {
    padding: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0; }
  .--footer-main ul.--footer-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0;
    -ms-flex: 0 0;
    flex: 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
  .--footer-main .--footer-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    padding: 10px;
    min-width: 125px; }
  .--footer-main ul {
    list-style-type: none; }
    .--footer-main ul a {
      color: #626262;
      display: inline-block;
      margin: 2px 0; }
      .--footer-main ul a p {
        padding: 0;
        margin: 0; }
    .--footer-main ul ul.plotly-social-media-small {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .--footer-main ul ul.plotly-social-media-small li {
        font-size: 1.5rem;
        padding-right: 10px; }
        .--footer-main ul ul.plotly-social-media-small li i {
          opacity: 0.8;
          margin-right: 2px; }
        .--footer-main ul ul.plotly-social-media-small li span {
          display: inline-block;
          font-size: 1.2rem;
          padding: 0 5px; }

.--wrap {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%; }

.--footer-meta {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0;
  -ms-flex: 0 0;
  flex: 0 0;
  border-top: 1px solid #e7e7e7;
  font-size: 1.2rem;
  width: 100%;
  background: whitesmoke;
  padding: 20px;
  width: 100%; }
  .--footer-meta .--wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .--footer-meta .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .--footer-meta .right a {
      display: inline-block;
      margin-left: 20px; }

h6.--footer-heading {
  color: #447bdc;
  font-weight: bold; }

aside.--sidebar-container {
  width: 220px;
  min-width: 220px;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7; }
  aside.--sidebar-container header.--sidebar-header {
    padding: 10px;
    background: #959595;
    border-bottom: 1px solid #e7e7e7;
    font-weight: 400;
    color: white; }
  aside.--sidebar-container .--sidebar-fixed {
    width: 219px;
    border-right: 1px solid #e7e7e7; }
    aside.--sidebar-container .--sidebar-fixed.affix {
      top: 80px;
      z-index: 1; }
  aside.--sidebar-container .--sidebar-body {
    overflow-y: auto; }
    aside.--sidebar-container .--sidebar-body ul li {
      border-bottom: 1px solid #e7e7e7;
      font-size: 1.2rem; }
      aside.--sidebar-container .--sidebar-body ul li.--category-title {
        background: whitesmoke;
        font-weight: 400;
        padding: 6.66667px 10px; }
        aside.--sidebar-container .--sidebar-body ul li.--category-title:hover {
          pointer-events: none; }
      aside.--sidebar-container .--sidebar-body ul li a {
        padding: 6.66667px 10px;
        display: inline-block;
        width: 100%; }
      aside.--sidebar-container .--sidebar-body ul li.--sidebar-item:hover {
        background: #fafafa; }
  aside.--sidebar-container .--btn {
    background: transparent;
    border: 0;
    width: 100%;
    position: relative;
    padding: 10px;
    background: #eef7ff;
    border-bottom: 1px solid #e7e7e7;
    color: #626262;
    font-weight: 600;
    font-size: 1rem; }
    aside.--sidebar-container .--btn:hover {
      background: white; }
    aside.--sidebar-container .--btn .icon {
      position: absolute;
      display: none; }

.sidebar {
  background: white;
  width: 220px;
  max-width: 220px;
  min-height: 100vh;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  top: 140px; }
  .sidebar h1 {
    background: #fafafa;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.75rem;
    letter-spacing: 1px;
    color: #447bdc; }
  .sidebar ul {
    width: 100%;
    max-height: -webkit-calc(100vh - 189px);
    max-height: calc(100vh - 189px);
    min-height: -webkit-calc(100vh - 189px);
    min-height: calc(100vh - 189px);
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto; }
    .sidebar ul.sidebar-list.reference {
      overflow-y: auto;
      padding-bottom: 200px; }
      .sidebar ul.sidebar-list.reference ul li {
        border-bottom: 1px solid #efefef;
        padding-left: 20px; }
        .sidebar ul.sidebar-list.reference ul li:hover {
          background: #84a8e8; }
      .sidebar ul.sidebar-list.reference ul ul li {
        background: #84a8e8;
        padding-left: 40px;
        border-bottom: 1px solid #447bdc; }
        .sidebar ul.sidebar-list.reference ul ul li:hover {
          background: #9ab8ec; }
    .sidebar ul .back {
      border: 1px solid #efefef;
      padding: 10px;
      margin: 10px;
      color: #afc7f0;
      position: relative;
      padding-left: 40px;
      width: 184px; }
      .sidebar ul .back:hover {
        cursor: pointer;
        color: #194187; }
        .sidebar ul .back:hover .back-icon path {
          fill: #194187; }
      .sidebar ul .back .back-icon {
        position: absolute;
        left: 10px; }
        .sidebar ul .back .back-icon path {
          fill: #6693e2; }
    .sidebar ul div.back {
      margin-bottom: 255px; }
    .sidebar ul li {
      border-right: 5px solid white;
      color: #626262;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid #f4f4f4;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: relative;
      padding: 4px 10px;
      font-size: 12px; }
      .sidebar ul li.category-title {
        padding: 6px 10px;
        background: whitesmoke;
        border-right-color: whitesmoke;
        font-weight: 600;
        pointer-events: none; }
      .sidebar ul li span {
        position: absolute;
        margin-top: -12px;
        bottom: 20px;
        opacity: 0;
        left: 20px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-weight: 600;
        font-size: 1rem;
        display: inline-block;
        padding: 5px 10px;
        color: white;
        background-color: #447bdc;
        max-width: 80%; }
      .sidebar ul li img {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .sidebar ul li a {
        color: inherit !important; }
      .sidebar ul li:hover {
        background: #f7f7f7;
        border-color: #447bdc;
        cursor: pointer;
        border-bottom: 1px solid #f4f4f4; }
        .sidebar ul li:hover img {
          opacity: 0.2; }
        .sidebar ul li:hover span {
          opacity: 1;
          margin-top: -6px; }
      .sidebar ul li.main-links {
        background: #6693e2;
        width: 50%;
        border-bottom: 1px solid #447bdc; }
      .sidebar ul li.label {
        font-weight: bold;
        background: #2764d0;
        border-left: 5px solid #2764d0;
        border-bottom: 1px solid #447bdc; }
  .sidebar + main {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 59px; }
    .sidebar + main div.meta-header {
      width: 100%; }
    .sidebar + main.tutorials {
      float: right;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .sidebar + main.tutorials article {
        padding: 0 20px;
        max-width: 1120px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 1rem;
        color: #626262; }
        .sidebar + main.tutorials article pre {
          word-break: break-all;
          background-color: whitesmoke;
          margin: 10px 0;
          border: 1px solid #e7e7e7; }
          .sidebar + main.tutorials article pre code {
            font-size: 0.85rem;
            width: 100%;
            background-color: whitesmoke;
            padding: 30px; }
        .sidebar + main.tutorials article p {
          font-size: 1rem; }
        .sidebar + main.tutorials article header h1 {
          border-bottom: 0;
          width: 100%;
          padding-right: 20px; }
        .sidebar + main.tutorials article video {
          max-width: 1120px; }
        .sidebar + main.tutorials article ul.toc {
          list-style-type: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          border-right: 1px solid #e7e7e7;
          background-color: whitesmoke;
          border-bottom: 1px solid #e7e7e7;
          margin-top: 20px; }
          .sidebar + main.tutorials article ul.toc li {
            border-top: 1px solid #e7e7e7;
            border-left: 1px solid #e7e7e7;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
            flex: 1 1 50%;
            max-width: 50%;
            background: white;
            margin: 0;
            position: relative;
            padding-left: 40px; }
            .sidebar + main.tutorials article ul.toc li:last-of-type {
              border-right: 1px solid #e7e7e7; }
            .sidebar + main.tutorials article ul.toc li:nth-last-of-type(2) {
              border-bottom: 1px solid #e7e7e7; }
            .sidebar + main.tutorials article ul.toc li::before {
              content: '';
              display: block;
              height: 18px;
              width: 18px;
              -webkit-transform: scale(0.6);
              -ms-transform: scale(0.6);
              transform: scale(0.6);
              top: 50%;
              margin-top: -9px;
              left: 20px;
              position: absolute;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              border: 1px solid #e7e7e7;
              border-color: #2391fe;
              -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out; }
            .sidebar + main.tutorials article ul.toc li:hover {
              background-color: whitesmoke; }
              .sidebar + main.tutorials article ul.toc li:hover::before {
                background: #2391fe;
                -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                transform: scale(0.9);
                border-color: #2391fe; }
              .sidebar + main.tutorials article ul.toc li:hover a {
                color: #2391fe !important; }
            .sidebar + main.tutorials article ul.toc li a {
              display: block;
              width: 100%;
              padding: 20px 20px; }
        .sidebar + main.tutorials article h1 {
          font-size: 2.5rem;
          margin: 0;
          border-bottom: 1px solid #e7e7e7;
          padding-bottom: 20px; }
        .sidebar + main.tutorials article img {
          margin: 20px 0;
          -webkit-box-shadow: 0;
          box-shadow: 0; }
        .sidebar + main.tutorials article h2, .sidebar + main.tutorials article h5 {
          text-align: left;
          font-size: 1.5rem;
          letter-spacing: 0.5px;
          margin: 0;
          padding: 10px;
          border-bottom: 1px solid #e7e7e7;
          color: #626262;
          font-weight: 100;
          margin: 20px 0; }
        .sidebar + main.tutorials article p {
          padding-left: 40px; }
          .sidebar + main.tutorials article p img {
            margin: 10px; }
        .sidebar + main.tutorials article h3 {
          padding: 30px;
          color: #626262;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.4rem;
          border: 1px solid #e7e7e7;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .sidebar + main.tutorials article h3:hover {
            background-color: #f7f7f7; }
          .sidebar + main.tutorials article h3 a {
            font-weight: 100;
            margin-left: 10px;
            display: block; }
      .sidebar + main.tutorials .tutorial-single-wrap {
        width: 100%; }
        .sidebar + main.tutorials .tutorial-single-wrap section {
          width: 100%; }
        .sidebar + main.tutorials .tutorial-single-wrap section h3,
        .sidebar + main.tutorials .tutorial-single-wrap section td,
        .sidebar + main.tutorials .tutorial-single-wrap section div,
        .sidebar + main.tutorials .tutorial-single-wrap section p {
          padding: 20px; }
        .sidebar + main.tutorials .tutorial-single-wrap section p {
          max-width: 1120px;
          border-top: 1px solid #e7e7e7; }
        .sidebar + main.tutorials .tutorial-single-wrap section h3 {
          margin: 0;
          max-width: 1120px; }
        .sidebar + main.tutorials .tutorial-single-wrap section table {
          border-bottom: 1px solid #e7e7e7;
          width: 100%;
          max-width: 1120px; }
          .sidebar + main.tutorials .tutorial-single-wrap section table:first-of-type {
            border-top: 1px solid #e7e7e7; }
          .sidebar + main.tutorials .tutorial-single-wrap section table tr {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .sidebar + main.tutorials .tutorial-single-wrap section table tr td {
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              -ms-grid-row-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .sidebar + main.tutorials .tutorial-single-wrap section table tr td img {
                border: 1px solid #e7e7e7;
                max-width: 100%; }
              .sidebar + main.tutorials .tutorial-single-wrap section table tr td strong {
                display: inline; }
          .sidebar + main.tutorials .tutorial-single-wrap section table:not(:first-of-type) {
            border-top: 1px solid #e7e7e7; }
      .sidebar + main.tutorials header {
        font-size: 2rem;
        letter-spacing: normal;
        margin: 0;
        margin-bottom: 20px;
        padding: 20px;
        color: #447bdc;
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
        background: whitesmoke;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .sidebar + main.tutorials header h1 {
          margin: 20px 0;
          font-size: 3.25rem;
          padding: 0;
          width: 100%;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .sidebar + main.tutorials header h1 .category-img {
            margin-right: 20px;
            height: 85px;
            width: 85px;
            min-height: 85px;
            min-width: 85px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: white;
            border: 1px solid #e7e7e7;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            padding: 10px;
            -webkit-transition: 0.2s all ease-in-out;
            transition: 0.2s all ease-in-out; }
            .sidebar + main.tutorials header h1 .category-img img, .sidebar + main.tutorials header h1 .category-img svg {
              width: 85%;
              max-width: 85%;
              max-height: 90px; }
        .sidebar + main.tutorials header p {
          font-size: 1rem;
          line-height: 1.85rem;
          max-width: 1120px;
          width: 80%; }
      .sidebar + main.tutorials .wrap {
        padding-left: 20px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .sidebar + main.tutorials .wrap h1,
        .sidebar + main.tutorials .wrap section {
          width: 100%; }
        .sidebar + main.tutorials .wrap section .row a {
          display: inline-block; }
          .sidebar + main.tutorials .wrap section .row a.tutorialsect_title {
            width: 100%;
            padding: 0;
            margin: 0; }
        .sidebar + main.tutorials .wrap section h2, .sidebar + main.tutorials .wrap section h4 {
          text-align: left;
          font-size: 1.5rem;
          letter-spacing: 0.5px;
          margin: 0;
          padding: 10px;
          padding-left: 20px;
          border-bottom: 1px solid #e7e7e7;
          color: #626262;
          font-weight: 100; }
        .sidebar + main.tutorials .wrap section hr {
          margin: 10px 0;
          display: none; }
        .sidebar + main.tutorials .wrap section ul {
          padding-left: 20px;
          padding-top: 20px;
          list-style: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .sidebar + main.tutorials .wrap section ul li {
            position: relative;
            background: white;
            width: 160px;
            height: 160px;
            margin: 0;
            padding: 0; }
            .sidebar + main.tutorials .wrap section ul li:last-of-type {
              -webkit-align-self: flex-start;
              -ms-flex-item-align: start;
              align-self: flex-start; }
            .sidebar + main.tutorials .wrap section ul li * {
              background: transparent; }
            .sidebar + main.tutorials .wrap section ul li h5 {
              letter-spacing: normal;
              margin: 0;
              padding-right: 20px;
              color: #447bdc; }
            .sidebar + main.tutorials .wrap section ul li:hover img {
              opacity: 0.08; }
            .sidebar + main.tutorials .wrap section ul li:hover .alltutcol .titlecenter {
              opacity: 1;
              -webkit-transform: translateY(10px);
              -ms-transform: translateY(10px);
              transform: translateY(10px); }
            .sidebar + main.tutorials .wrap section ul li .alltutcol {
              background: transparent;
              position: relative;
              width: 100%;
              width: 160px;
              height: 160px;
              -webkit-box-pack: start;
              -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              margin: 0; }
              .sidebar + main.tutorials .wrap section ul li .alltutcol:hover {
                opacity: 1; }
              .sidebar + main.tutorials .wrap section ul li .alltutcol .titlecenter {
                position: absolute;
                margin: 0;
                padding: 0;
                padding-left: 20px;
                text-align: left !important;
                background: transparent;
                opacity: 0;
                color: #447bdc;
                -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
                -webkit-transition: 0.2s ease-in-out all;
                transition: 0.2s ease-in-out all; }
                .sidebar + main.tutorials .wrap section ul li .alltutcol .titlecenter .centered {
                  text-align: left;
                  font-weight: 400; }
            .sidebar + main.tutorials .wrap section ul li img {
              position: absolute;
              min-width: 100%;
              width: 160px;
              height: 160px;
              z-index: 9;
              -webkit-transition: 0.2s ease-in-out all;
              transition: 0.2s ease-in-out all; }

.header-large--wrap ~ .--breadcrumb-container {
  margin-top: 0; }

.--breadcrumb-container {
  height: 48px;
  min-height: 48px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 20px;
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .--breadcrumb-container .--fork a {
    padding-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .--breadcrumb-container .--fork a div.icon {
      width: 20px;
      margin-right: 2px;
      margin-top: -2px; }
      .--breadcrumb-container .--fork a div.icon svg {
        max-width: 100%; }
        .--breadcrumb-container .--fork a div.icon svg path {
          fill: currentColor; }
  .--breadcrumb-container .--wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .--breadcrumb-container .--breadcrumb-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .--breadcrumb-container .--breadcrumb-list li {
      padding: 0 20px;
      font-size: 1.2rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 1px solid #e7e7e7; }
      .--breadcrumb-container .--breadcrumb-list li:first-of-type {
        padding-left: 0; }
      .--breadcrumb-container .--breadcrumb-list li:hover div.icon svg path {
        fill: #2391fe;
        opacity: 1; }
      .--breadcrumb-container .--breadcrumb-list li div.icon {
        width: 18px;
        margin-bottom: -4px;
        margin-right: 5px; }
        .--breadcrumb-container .--breadcrumb-list li div.icon svg {
          max-width: 100%; }
          .--breadcrumb-container .--breadcrumb-list li div.icon svg path {
            opacity: 0.2;
            fill: currentColor; }
      .--breadcrumb-container .--breadcrumb-list li.--current {
        font-weight: 600; }
      .--breadcrumb-container .--breadcrumb-list li:last-of-type {
        border-right: 0; }

.--help-box {
  background: #447bdc;
  padding: 40px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: 100%;
  position: relative;
  z-index: 2;
  min-width: 100%; }
  .--help-box .--wrap {
    text-align: center;
    color: #afc7f0; }
    .--help-box .--wrap .--title {
      color: white;
      font-size: 2rem; }
    .--help-box .--wrap ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: white;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 20px; }
      .--help-box .--wrap ul li div.icon {
        margin-right: 5px;
        margin-top: -3px; }
        .--help-box .--wrap ul li div.icon svg path {
          fill: currentColor; }
      .--help-box .--wrap ul li:last-of-type a {
        border-right: 0; }
      .--help-box .--wrap ul li span {
        display: inline-block;
        padding-right: 10px;
        display: none; }
      .--help-box .--wrap ul a {
        padding: 5px 10px;
        padding-top: 12px;
        border-right: 1px solid #789fe6;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        color: white; }
        .--help-box .--wrap ul a:hover {
          background: #2f6cd8; }
        .--help-box .--wrap ul a:hover {
          color: white !important;
          opacity: 1 !important; }
    .--help-box .--wrap h5 {
      font-weight: bold;
      color: #a2d0ff;
      opacity: 0.8;
      font-size: 1.5rem;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative; }
      .--help-box .--wrap h5::before {
        content: '';
        position: absolute;
        width: 40px;
        background: #6693e2;
        height: 6px;
        left: 50%;
        margin-left: -20px;
        top: 100%; }
    .--help-box .--wrap .--cta {
      background: #2f6cd8;
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: inline-block;
      max-width: 300px; }
      .--help-box .--wrap .--cta p {
        margin: 0;
        padding: 0; }

.--wrap-top {
  margin-top: 80px; }

.page.--home .hero {
  width: 100%;
  height: 45vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden; }
  .page.--home .hero .hero-bg {
    height: 45vh;
    left: 50% !important;
    margin-left: -1200px;
    top: -300px !important;
    width: 2400px;
    position: absolute;
    z-index: 1; }
  .page.--home .hero .--welcome {
    position: relative;
    z-index: 2;
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #626262;
    margin-top: 6vh;
    max-width: 580px;
    text-align: center; }
    .page.--home .hero .--welcome h1 {
      width: 100%;
      font-size: 5rem;
      margin: 0;
      color: #447bdc;
      padding-top: 10px;
      padding-bottom: 20px; }
    .page.--home .hero .--welcome span {
      color: #c8c8c8;
      text-transform: uppercase;
      letter-spacing: 2px; }

.page.--home .--documentation-categories {
  position: relative;
  z-index: 2;
  background-color: whitesmoke;
  padding: 20px;
  width: 100%;
  border-top: 1px solid #e7e7e7; }
  .page.--home .--documentation-categories .category-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 100%; }
  .page.--home .--documentation-categories ul {
    list-style-type: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .page.--home .--documentation-categories ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: white;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 22%;
      -ms-flex: 1 1 22%;
      flex: 1 1 22%;
      margin: 10px;
      -webkit-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out;
      border: 1px solid #e7e7e7; }
      .page.--home .--documentation-categories ul li .category-meta {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .page.--home .--documentation-categories ul li .category-img {
        height: 100px;
        width: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: white;
        border: 1px solid #e7e7e7;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: 10px;
        -webkit-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out; }
        .page.--home .--documentation-categories ul li .category-img img, .page.--home .--documentation-categories ul li .category-img svg {
          width: 70%;
          max-width: 70%;
          max-height: 90px; }
      .page.--home .--documentation-categories ul li::before {
        content: '';
        position: absolute;
        height: 6px;
        width: 100%;
        background: transparent;
        top: 100%;
        left: 0;
        margin-top: -6px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .page.--home .--documentation-categories ul li:hover {
        opacity: 1;
        cursor: pointer; }
        .page.--home .--documentation-categories ul li:hover .category-img {
          background: white;
          border-color: #2391fe;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
        .page.--home .--documentation-categories ul li:hover h2 {
          color: #2391fe; }
        .page.--home .--documentation-categories ul li:hover::before {
          background: #2391fe;
          height: 6px; }
      .page.--home .--documentation-categories ul li p {
        text-align: center;
        margin: 0;
        padding: 0;
        max-width: 80%; }
      .page.--home .--documentation-categories ul li h2 {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;
        font-weight: 500;
        padding: 0;
        margin: 25px 0 10px;
        letter-spacing: 1px;
        color: #626262; }

.--page-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.--tutorial-index {
  border-right: 1px solid #e7e7e7; }
  .--tutorial-index .--welcome {
    border-bottom: 1px solid #e7e7e7;
    padding: 20px;
    background: #fafafa; }
    .--tutorial-index .--welcome .--title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 10px; }
      .--tutorial-index .--welcome .--title .--category-img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #e7e7e7;
        padding: 15px;
        background: white;
        margin-right: 10px; }
        .--tutorial-index .--welcome .--title .--category-img img {
          width: 60px; }
      .--tutorial-index .--welcome .--title h1 {
        font-weight: 100; }
  .--tutorial-index .--section {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7; }
    .--tutorial-index .--section h5 {
      font-size: 2rem;
      padding: 10px 0; }
    .--tutorial-index .--section img {
      padding: 20px 0; }
    .--tutorial-index .--section a {
      display: inline-block;
      padding: 0 4px; }
  .--tutorial-index .--tutorial-section:not(:last-of-type) {
    border-bottom: 1px solid #e7e7e7; }
  .--tutorial-index .--tutorial-section header.--section-header {
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 2rem; }
  .--tutorial-index .--tutorial-section ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .--tutorial-index .--tutorial-section ul li {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 25%;
      -ms-flex: 1 1 25%;
      flex: 1 1 25%;
      max-width: 25%;
      height: 160px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: whitesmoke;
      background-size: cover;
      background-position: center center;
      -webkit-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all; }
      .--tutorial-index .--tutorial-section ul li .--item-meta {
        width: 100%;
        height: 100%;
        -webkit-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all;
        opacity: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: rgba(255, 255, 255, 0.92); }
        .--tutorial-index .--tutorial-section ul li .--item-meta a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%;
          width: 100%;
          font-weight: 400;
          font-size: 2rem; }
          .--tutorial-index .--tutorial-section ul li .--item-meta a::before {
            display: none;
            height: 4px;
            opacity: 1;
            -webkit-transform: scale(1) !important;
            -ms-transform: scale(1) !important;
            transform: scale(1) !important; }
      .--tutorial-index .--tutorial-section ul li:hover .--item-meta {
        opacity: 1;
        margin-top: 0; }

body {
  position: relative; }

.container {
  max-width: 100%;
  padding: 20px; }
  .container h1 {
    font-size: 4rem;
    color: #447bdc; }
  .container h5 {
    font-size: 3rem;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px; }
  .container .cell.border-box-sizing.text_cell.rendered:nth-last-of-type(2) {
    border-top: 1px solid #e7e7e7; }
  .container .cell.border-box-sizing.text_cell.rendered:last-of-type {
    padding-bottom: 40px; }
    .container .cell.border-box-sizing.text_cell.rendered:last-of-type a {
      display: inline-block;
      padding: 0 3px; }

.--other-lang {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7; }
  .--other-lang h4 {
    background: #efefef;
    padding: 15px;
    color: #626262;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0; }
  .--other-lang ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    padding-left: 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #e7e7e7;
    border-top: none;
    margin: 0; }
    .--other-lang ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-right: 1px solid #e7e7e7;
      padding: 10px 20px;
      position: relative; }
      .--other-lang ul li.--active::before {
        content: '';
        position: absolute;
        height: 2px;
        background: #2391fe;
        width: 100%;
        left: 0;
        top: 100%; }
      .--other-lang ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stetch;
        -webkit-align-items: stetch;
        -ms-flex-align: stetch;
        align-items: stetch; }
    .--other-lang ul img {
      padding-right: 10px;
      max-width: 50px; }

.input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px; }
  .input .prompt.input_prompt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px; }
  .input .inner_cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .input .inner_cell pre {
      margin-bottom: 0; }

article {
  padding: 20px; }
  article h1 {
    color: #447bdc;
    padding: 0; }
  article img {
    padding: 20px 0; }
  article h2 {
    font-size: 2rem;
    padding-top: 40px;
    border-top: 1px solid #e7e7e7;
    margin-top: 40px;
    padding-bottom: 20px; }
  article h3 {
    padding: 40px;
    border: 1px solid #e7e7e7;
    background: whitesmoke; }

.similar-tutorials {
  border-top: 1px solid #e7e7e7; }
  .similar-tutorials h4 {
    padding: 20px; }
  .similar-tutorials ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: whitesmoke;
    width: 100%;
    border-top: 1px solid #e7e7e7; }
    .similar-tutorials ul li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      background: url(https://images.plot.ly/plotly-documentation/thumbnail/line-and-scatter.jpg);
      background-size: cover;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: 160px;
      border-right: 1px solid #e7e7e7; }
      .similar-tutorials ul li span {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: white;
        font-weight: bold;
        opacity: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 160px;
        text-align: center;
        width: 100%;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out; }
      .similar-tutorials ul li:last-of-type {
        border-right: 0; }
      .similar-tutorials ul li:hover span {
        opacity: 0.8; }

.--meta-wrap {
  margin: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.--reference-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: 1px solid #e7e7e7;
  font-weight: bold; }
  .--reference-link div.icon {
    position: absolute;
    margin-right: 5px;
    margin-top: -3px;
    opacity: 0.5; }
    .--reference-link div.icon svg path {
      fill: currentColor; }
  .--reference-link .--text {
    margin-left: 28px; }
    .--reference-link .--text *:not(a) {
      display: none; }
  .--reference-link a {
    display: inline-block;
    padding-left: 6px;
    font-weight: normal; }
